<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aoyun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{106,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{114,35}</string>
            </dict>
            <key>aoyun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,39}}</string>
                <key>sourceSize</key>
                <string>{128,49}</string>
            </dict>
            <key>aoyun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{106,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{114,35}</string>
            </dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{106,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{114,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aoyun.png</string>
            <key>size</key>
            <string>{120,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a3b8235f57c005c6d530c41b381e15a$</string>
            <key>textureFileName</key>
            <string>aoyun.png</string>
        </dict>
    </dict>
</plist>
