<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{93,16}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{91,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{91,14}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{91,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{91,14}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{93,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{93,14}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{95,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{95,16}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{93,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{93,17}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>fengsha06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{93,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{93,17}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>fengsha07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{93,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{93,17}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>fengsha08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{93,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{93,17}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>fengsha09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{91,19}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{91,19}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>fengsha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{91,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{91,16}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{91,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{91,16}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{91,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{91,16}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fengsha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{91,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{91,14}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengsha.png</string>
            <key>size</key>
            <string>{99,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5385fbfeff4ef4b0b4d9e1ed2519ef73$</string>
            <key>textureFileName</key>
            <string>fengsha.png</string>
        </dict>
    </dict>
</plist>
