<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haizeizhixing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>haizeizhixing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{85,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,26}}</string>
                <key>sourceSize</key>
                <string>{93,34}</string>
            </dict>
            <key>haizeizhixing_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{89,51}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{89,51}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>haizeizhixing_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{89,39}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,39}}</string>
                <key>sourceSize</key>
                <string>{97,45}</string>
            </dict>
            <key>haizeizhixing_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{87,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,28}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>haizeizhixing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,89},{87,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{95,44}</string>
            </dict>
            <key>haizeizhixing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,89},{89,50}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,50}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>haizeizhixing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,147},{91,47}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>haizeizhixing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{93,50}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{103,56}</string>
            </dict>
            <key>haizeizhixing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,50},{93,49}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>haizeizhixing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,50}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{107,58}</string>
            </dict>
            <key>haizeizhixing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{93,49}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>haizeizhixing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,99},{91,48}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haizeizhixing.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4a3e0520b70208ee2bb8f79b1c6844e$</string>
            <key>textureFileName</key>
            <string>haizeizhixing.png</string>
        </dict>
    </dict>
</plist>
