<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haizei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>haizei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,974},{96,54}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{96,54}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>haizei_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>haizei_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,712},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,558},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,357},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{224,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,192}}</string>
                <key>sourceSize</key>
                <string>{224,192}</string>
            </dict>
            <key>haizei_216.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1261},{224,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,192}}</string>
                <key>sourceSize</key>
                <string>{224,192}</string>
            </dict>
            <key>haizei_217.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1067},{224,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,192}}</string>
                <key>sourceSize</key>
                <string>{224,192}</string>
            </dict>
            <key>haizei_218.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1224},{186,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,158}}</string>
                <key>sourceSize</key>
                <string>{186,158}</string>
            </dict>
            <key>haizei_219.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,836},{136,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,118}}</string>
                <key>sourceSize</key>
                <string>{136,118}</string>
            </dict>
            <key>haizei_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1224},{164,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>haizei_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1030},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>haizei_221.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1090},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>haizei_222.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1148},{87,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>haizei_223.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1207},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>haizei_224.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,32},{63,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,19}}</string>
                <key>sourceSize</key>
                <string>{63,19}</string>
            </dict>
            <key>haizei_225.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,97},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,17}}</string>
                <key>sourceSize</key>
                <string>{62,17}</string>
            </dict>
            <key>haizei_226.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,161},{59,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,16}}</string>
                <key>sourceSize</key>
                <string>{59,16}</string>
            </dict>
            <key>haizei_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1030},{224,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,192}}</string>
                <key>sourceSize</key>
                <string>{224,192}</string>
            </dict>
            <key>haizei_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,836},{224,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,192}}</string>
                <key>sourceSize</key>
                <string>{224,192}</string>
            </dict>
            <key>haizei_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,280},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
            <key>haizei_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,276}}</string>
                <key>sourceSize</key>
                <string>{353,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haizei.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6984d65f7f9738e1831bd9e5ae6e872f:1/1$</string>
            <key>textureFileName</key>
            <string>haizei.png</string>
        </dict>
    </dict>
</plist>
