<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shishen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>shishen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,174},{80,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,36}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>shishen_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,90},{84,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,42}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>shishen_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,88},{84,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>shishen_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,174},{82,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,38}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>shishen_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,174},{80,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,36}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>shishen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{82,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,38}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>shishen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{84,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>shishen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{84,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,42}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>shishen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{86,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>shishen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{88,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>shishen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{90,46}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>shishen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{88,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>shishen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,44},{86,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shishen.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2909388983f5ddf70b70cc0c504c7e25$</string>
            <key>textureFileName</key>
            <string>shishen.png</string>
        </dict>
    </dict>
</plist>
