<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangche01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{55,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{57,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche04.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,19},{57,17}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{57,19}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche06.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,38},{57,19}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{61,19}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,19}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>xiangche08.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,59},{59,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,19}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>xiangche09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{56,18}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,18}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xiangche10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,80},{53,19}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{53,21}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche12.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,101},{53,21}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>xiangche13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{53,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>xiangche14.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,124},{53,18}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,18}}</string>
                <key>sourceSize</key>
                <string>{63,26}</string>
            </dict>
            <key>xiangche15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{53,18}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,18}}</string>
                <key>sourceSize</key>
                <string>{63,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiangche.png</string>
            <key>size</key>
            <string>{126,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5e4e2a1814c8d6ad4333cdbb9ef4a9$</string>
            <key>textureFileName</key>
            <string>xiangche.png</string>
        </dict>
    </dict>
</plist>
