<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,16}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xingyunyiji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,14}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xingyunyiji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{54,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,14}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xingyunyiji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,20},{56,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{56,17}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>xingyunyiji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{56,19}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,19}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>xingyunyiji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,39},{54,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{54,19}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>xingyunyiji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,19}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,19}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>xingyunyiji07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{54,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{54,13}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>xingyunyiji08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{54,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,14}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xingyunyiji09.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,81},{54,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,14}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xingyunyiji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{54,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,14}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>xingyunyiji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,97},{54,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,14}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingyunyiji.png</string>
            <key>size</key>
            <string>{116,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b16474cd2c3c2c1704d0a0e734386ad$</string>
            <key>textureFileName</key>
            <string>xingyunyiji.png</string>
        </dict>
    </dict>
</plist>
