<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>xinshijie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{113,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,90}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>xinshijie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{228,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>xinshijie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{213,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,91}}</string>
                <key>sourceSize</key>
                <string>{215,91}</string>
            </dict>
            <key>xinshijie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,94},{175,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,90}}</string>
                <key>sourceSize</key>
                <string>{177,90}</string>
            </dict>
            <key>xinshijie05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{148,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,105}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>xinshijie06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,187},{122,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,149}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>xinshijie07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>xinshijie08.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,187},{148,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,98}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>xinshijie09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{178,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,94}}</string>
                <key>sourceSize</key>
                <string>{178,94}</string>
            </dict>
            <key>xinshijie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{207,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,90}}</string>
                <key>sourceSize</key>
                <string>{209,90}</string>
            </dict>
            <key>xinshijie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{233,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,90}}</string>
                <key>sourceSize</key>
                <string>{233,90}</string>
            </dict>
            <key>xinshijie12.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,434},{175,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,90}}</string>
                <key>sourceSize</key>
                <string>{177,90}</string>
            </dict>
            <key>xinshijie13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{175,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,90}}</string>
                <key>sourceSize</key>
                <string>{177,90}</string>
            </dict>
            <key>xinshijie14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,526},{129,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,90}}</string>
                <key>sourceSize</key>
                <string>{129,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinshijie.png</string>
            <key>size</key>
            <string>{460,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2db45f2292688d66dd7c8fd731b849$</string>
            <key>textureFileName</key>
            <string>xinshijie.png</string>
        </dict>
    </dict>
</plist>
