<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>youlingchuanzhang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>youlingchuanzhang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,371},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>youlingchuanzhang_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,57}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>youlingchuanzhang_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{95,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,60}}</string>
                <key>sourceSize</key>
                <string>{95,60}</string>
            </dict>
            <key>youlingchuanzhang_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,132},{99,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,62}}</string>
                <key>sourceSize</key>
                <string>{99,62}</string>
            </dict>
            <key>youlingchuanzhang_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,67},{102,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,65}}</string>
                <key>sourceSize</key>
                <string>{102,65}</string>
            </dict>
            <key>youlingchuanzhang_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>youlingchuanzhang_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{105,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,67}}</string>
                <key>sourceSize</key>
                <string>{105,67}</string>
            </dict>
            <key>youlingchuanzhang_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,67}}</string>
                <key>sourceSize</key>
                <string>{108,67}</string>
            </dict>
            <key>youlingchuanzhang_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>youlingchuanzhang_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,445},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>youlingchuanzhang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,349},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>youlingchuanzhang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>youlingchuanzhang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,304},{72,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>youlingchuanzhang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>youlingchuanzhang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>youlingchuanzhang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,184},{83,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,52}}</string>
                <key>sourceSize</key>
                <string>{83,52}</string>
            </dict>
            <key>youlingchuanzhang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,250},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>youlingchuanzhang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>youlingchuanzhang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{104,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>youlingchuanzhang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,67},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>youlingchuanzhang_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,193},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>youlingchuanzhang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>youlingchuanzhang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,304},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>youlingchuanzhang_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,363},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>youlingchuanzhang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,312},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>youlingchuanzhang_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,267},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>youlingchuanzhang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,445},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>youlingchuanzhang_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,409},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>youlingchuanzhang_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,250},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youlingchuanzhang.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc8e47a87ca0458be9372a7f0531dbb$</string>
            <key>textureFileName</key>
            <string>youlingchuanzhang.png</string>
        </dict>
    </dict>
</plist>
