<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsqx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>bsqx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,396},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>bsqx_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>bsqx_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>bsqx_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>bsqx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,396},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>bsqx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,213},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>bsqx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,213},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>bsqx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,203},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>bsqx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>bsqx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>bsqx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>bsqx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,639},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bsqx.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e923d9fc1b8a550b8eebb9976454a4$</string>
            <key>textureFileName</key>
            <string>bsqx.png</string>
        </dict>
    </dict>
</plist>
