<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closeBox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>closeBox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{160,160}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>closeBox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{111,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,120}}</string>
                <key>sourceSize</key>
                <string>{111,120}</string>
            </dict>
            <key>closeBox_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,41},{39,51}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{39,51}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{41,51}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{41,51}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{39,51}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{39,51}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,119},{39,49}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{39,49}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,80},{39,49}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{39,49}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,51},{39,49}}</string>
                <key>offset</key>
                <string>{27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,1},{39,49}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,100},{39,47}}</string>
                <key>offset</key>
                <string>{35,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,139},{17,29}}</string>
                <key>offset</key>
                <string>{47,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,13},{17,29}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>closeBox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,139},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>closeBox.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c176d875eb4fe82cd14275423187a78$</string>
            <key>textureFileName</key>
            <string>closeBox.png</string>
        </dict>
    </dict>
</plist>
