<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoAnimaition_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>GoAnimaition_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>GoAnimaition_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,108},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,49}</string>
            </dict>
            <key>GoAnimaition_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>GoAnimaition_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,162},{11,29}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,16},{11,29}}</string>
                <key>sourceSize</key>
                <string>{181,57}</string>
            </dict>
            <key>GoAnimaition_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,135},{27,37}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,14},{27,37}}</string>
                <key>sourceSize</key>
                <string>{165,57}</string>
            </dict>
            <key>GoAnimaition_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,162},{15,23}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,23},{15,23}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>GoAnimaition_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,50},{19,39}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,13},{19,39}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>GoAnimaition_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,89},{19,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,14},{19,37}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
            <key>GoAnimaition_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{69,37}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{69,37}}</string>
                <key>sourceSize</key>
                <string>{117,57}</string>
            </dict>
            <key>GoAnimaition_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,36},{72,39}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{72,39}}</string>
                <key>sourceSize</key>
                <string>{116,57}</string>
            </dict>
            <key>GoAnimaition_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{66,33}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{66,33}}</string>
                <key>sourceSize</key>
                <string>{116,57}</string>
            </dict>
            <key>GoAnimaition_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{67,37}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{67,37}}</string>
                <key>sourceSize</key>
                <string>{127,57}</string>
            </dict>
            <key>GoAnimaition_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,153},{47,17}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{47,17}}</string>
                <key>sourceSize</key>
                <string>{143,57}</string>
            </dict>
            <key>GoAnimaition_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,126},{19,27}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,19},{19,27}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GoAnimaition.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9531c6fce758b002f2dd19e243ecade8$</string>
            <key>textureFileName</key>
            <string>GoAnimaition.png</string>
        </dict>
    </dict>
</plist>
