<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gxntg_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>gxntg_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1581,190}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{1581,190}}</string>
			<key>sourceSize</key>
			<string>{1585,200}</string>
		</dict>
		<key>gxntg_110.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,1562},{396,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,222}}</string>
			<key>sourceSize</key>
			<string>{396,222}</string>
		</dict>
		<key>gxntg_111.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,910},{398,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{398,224}}</string>
			<key>sourceSize</key>
			<string>{398,224}</string>
		</dict>
		<key>gxntg_112.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,248},{408,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,232}}</string>
			<key>sourceSize</key>
			<string>{408,232}</string>
		</dict>
		<key>gxntg_113.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,674},{411,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,236}}</string>
			<key>sourceSize</key>
			<string>{411,236}</string>
		</dict>
		<key>gxntg_114.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,248},{426,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,246}}</string>
			<key>sourceSize</key>
			<string>{426,246}</string>
		</dict>
		<key>gxntg_115.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,0},{426,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,248}}</string>
			<key>sourceSize</key>
			<string>{426,248}</string>
		</dict>
		<key>gxntg_116.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,951},{426,250}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,250}}</string>
			<key>sourceSize</key>
			<string>{426,250}</string>
		</dict>
		<key>gxntg_117.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,1562},{363,164}}</string>
			<key>offset</key>
			<string>{19,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,0},{363,164}}</string>
			<key>sourceSize</key>
			<string>{401,164}</string>
		</dict>
		<key>gxntg_118.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,705},{317,98}}</string>
			<key>offset</key>
			<string>{19,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,0},{317,98}}</string>
			<key>sourceSize</key>
			<string>{355,98}</string>
		</dict>
		<key>gxntg_119.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,388},{317,92}}</string>
			<key>offset</key>
			<string>{19,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,0},{317,92}}</string>
			<key>sourceSize</key>
			<string>{355,92}</string>
		</dict>
		<key>gxntg_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,0},{951,120}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{316,41},{951,120}}</string>
			<key>sourceSize</key>
			<string>{1585,200}</string>
		</dict>
		<key>gxntg_120.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1989},{317,59}}</string>
			<key>offset</key>
			<string>{19,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{317,59}}</string>
			<key>sourceSize</key>
			<string>{355,69}</string>
		</dict>
		<key>gxntg_121.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,1308},{317,42}}</string>
			<key>offset</key>
			<string>{19,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,12},{317,42}}</string>
			<key>sourceSize</key>
			<string>{355,64}</string>
		</dict>
		<key>gxntg_122.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,1968},{318,42}}</string>
			<key>offset</key>
			<string>{-19,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{318,42}}</string>
			<key>sourceSize</key>
			<string>{356,64}</string>
		</dict>
		<key>gxntg_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,388},{317,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,130}}</string>
			<key>sourceSize</key>
			<string>{317,130}</string>
		</dict>
		<key>gxntg_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1377},{352,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{352,190}}</string>
			<key>sourceSize</key>
			<string>{352,190}</string>
		</dict>
		<key>gxntg_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,1350},{359,212}}</string>
			<key>offset</key>
			<string>{12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{359,212}}</string>
			<key>sourceSize</key>
			<string>{383,212}</string>
		</dict>
		<key>gxntg_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,910},{375,236}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{375,236}}</string>
			<key>sourceSize</key>
			<string>{395,236}</string>
		</dict>
		<key>gxntg_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,1567},{401,264}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{401,264}}</string>
			<key>sourceSize</key>
			<string>{407,264}</string>
		</dict>
		<key>gxntg_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1581},{408,294}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{408,294}}</string>
			<key>sourceSize</key>
			<string>{420,294}</string>
		</dict>
		<key>gxntg_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,0},{388,218}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{388,218}}</string>
			<key>sourceSize</key>
			<string>{396,218}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gxtg.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:610429fdd842c0d9d92d7d139cef2a9a$</string>
		<key>textureFileName</key>
		<string>gxtg.png</string>
	</dict>
</dict>
</plist>
