<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{195,205}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,105},{195,205}}</string>
                <key>sourceSize</key>
                <string>{195,205}</string>
            </dict>
            <key>heffect_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{322,312}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,75},{322,312}}</string>
                <key>sourceSize</key>
                <string>{322,312}</string>
            </dict>
            <key>heffect_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{357,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,388}}</string>
                <key>sourceSize</key>
                <string>{357,388}</string>
            </dict>
            <key>heffect_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{321,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,349}}</string>
                <key>sourceSize</key>
                <string>{321,349}</string>
            </dict>
            <key>heffect_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,389},{319,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,334}}</string>
                <key>sourceSize</key>
                <string>{319,334}</string>
            </dict>
            <key>heffect_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,739},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>heffect_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,739},{222,222}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>heffect_3_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_3.png</string>
            <key>size</key>
            <string>{964,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82137297eb3ebd871689ce43b0496145$</string>
            <key>textureFileName</key>
            <string>heffect_3.png</string>
        </dict>
    </dict>
</plist>
