<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hw_11005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>hw_11005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,80},{121,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,79}}</string>
                <key>sourceSize</key>
                <string>{121,79}</string>
            </dict>
            <key>hw_11005_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>hw_11005_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>hw_11005_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,76}}</string>
                <key>sourceSize</key>
                <string>{124,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hw_11005.png</string>
            <key>size</key>
            <string>{256,234}</string>
            <key>textureFileName</key>
            <string>hw_11005.png</string>
        </dict>
    </dict>
</plist>
