<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hw_11008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,98}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>hw_11008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>hw_11008_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{157,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,103}}</string>
                <key>sourceSize</key>
                <string>{157,103}</string>
            </dict>
            <key>hw_11008_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>hw_11008_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,107},{156,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,103}}</string>
                <key>sourceSize</key>
                <string>{156,103}</string>
            </dict>
            <key>hw_11008_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,107},{160,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>hw_11008_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>hw_11008_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,214},{158,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,106}}</string>
                <key>sourceSize</key>
                <string>{158,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hw_11008.png</string>
            <key>size</key>
            <string>{482,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97e14ce3d2113d5b2c297a4ae85ec4b0$</string>
            <key>textureFileName</key>
            <string>hw_11008.png</string>
        </dict>
    </dict>
</plist>
