<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hw_11007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,77}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
            <key>hw_11007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{155,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>hw_11007_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>hw_11007_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{161,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,79}}</string>
                <key>sourceSize</key>
                <string>{161,79}</string>
            </dict>
            <key>hw_11007_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,81},{164,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,86}}</string>
                <key>sourceSize</key>
                <string>{164,86}</string>
            </dict>
            <key>hw_11007_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,81},{165,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>hw_11007_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{167,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,95}}</string>
                <key>sourceSize</key>
                <string>{167,95}</string>
            </dict>
            <key>hw_11007_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,173},{165,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,89}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hw_11007.png</string>
            <key>size</key>
            <string>{498,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f53d66f913ff636853d416fab756d22$</string>
            <key>textureFileName</key>
            <string>hw_11007.png</string>
        </dict>
    </dict>
</plist>
