<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,66}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{85,66}}</string>
                <key>sourceSize</key>
                <string>{109,80}</string>
            </dict>
            <key>jg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{88,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{88,66}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>jg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{97,68}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,68}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>jg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,70},{93,70}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{93,70}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>jg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{93,74}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jg.png</string>
            <key>size</key>
            <string>{196,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100abedd3c5fe41cd13ec720061f4e21$</string>
            <key>textureFileName</key>
            <string>jg.png</string>
        </dict>
    </dict>
</plist>
