<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lzxz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>lzxz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{246,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,185}}</string>
                <key>sourceSize</key>
                <string>{246,185}</string>
            </dict>
            <key>lzxz_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,527},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>lzxz_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,51},{153,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,196}}</string>
                <key>sourceSize</key>
                <string>{153,196}</string>
            </dict>
            <key>lzxz_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,879},{69,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,99}}</string>
                <key>sourceSize</key>
                <string>{69,99}</string>
            </dict>
            <key>lzxz_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,51},{193,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,196}}</string>
                <key>sourceSize</key>
                <string>{193,196}</string>
            </dict>
            <key>lzxz_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,899},{123,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,90}}</string>
                <key>sourceSize</key>
                <string>{123,90}</string>
            </dict>
            <key>lzxz_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{300,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,133}}</string>
                <key>sourceSize</key>
                <string>{300,133}</string>
            </dict>
            <key>lzxz_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,202},{178,38}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{178,38}}</string>
                <key>sourceSize</key>
                <string>{178,62}</string>
            </dict>
            <key>lzxz_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,27},{405,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,72}}</string>
                <key>sourceSize</key>
                <string>{405,72}</string>
            </dict>
            <key>lzxz_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{218,13}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,13}}</string>
                <key>sourceSize</key>
                <string>{224,13}</string>
            </dict>
            <key>lzxz_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{419,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,51}}</string>
                <key>sourceSize</key>
                <string>{419,51}</string>
            </dict>
            <key>lzxz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,879},{148,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,75}}</string>
                <key>sourceSize</key>
                <string>{148,77}</string>
            </dict>
            <key>lzxz_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,954},{179,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,47}}</string>
                <key>sourceSize</key>
                <string>{179,47}</string>
            </dict>
            <key>lzxz_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,335},{273,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,139}}</string>
                <key>sourceSize</key>
                <string>{273,139}</string>
            </dict>
            <key>lzxz_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,899},{117,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,94}}</string>
                <key>sourceSize</key>
                <string>{117,94}</string>
            </dict>
            <key>lzxz_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,659},{220,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{220,198}</string>
            </dict>
            <key>lzxz_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,879},{64,99}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{64,99}}</string>
                <key>sourceSize</key>
                <string>{78,99}</string>
            </dict>
            <key>lzxz_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,0},{163,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,198}}</string>
                <key>sourceSize</key>
                <string>{163,198}</string>
            </dict>
            <key>lzxz_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,899},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{109,93}</string>
            </dict>
            <key>lzxz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{342,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,103}}</string>
                <key>sourceSize</key>
                <string>{342,103}</string>
            </dict>
            <key>lzxz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,335},{192,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,24}}</string>
                <key>sourceSize</key>
                <string>{194,24}</string>
            </dict>
            <key>lzxz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{428,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,27}}</string>
                <key>sourceSize</key>
                <string>{428,27}</string>
            </dict>
            <key>lzxz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,27},{120,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,17}}</string>
                <key>sourceSize</key>
                <string>{120,17}</string>
            </dict>
            <key>lzxz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,659},{240,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,73}}</string>
                <key>sourceSize</key>
                <string>{240,73}</string>
            </dict>
            <key>lzxz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,99},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>lzxz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,659},{240,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,162}}</string>
                <key>sourceSize</key>
                <string>{240,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lzxz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7a1aa967e342c14353d0b1656d58b88$</string>
            <key>textureFileName</key>
            <string>lzxz.png</string>
        </dict>
    </dict>
</plist>
