<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{60,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,163}}</string>
                <key>sourceSize</key>
                <string>{60,163}</string>
            </dict>
            <key>m12_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{35,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,167}}</string>
                <key>sourceSize</key>
                <string>{35,167}</string>
            </dict>
            <key>m12_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{39,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,177}}</string>
                <key>sourceSize</key>
                <string>{39,177}</string>
            </dict>
            <key>m12_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{42,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,186}}</string>
                <key>sourceSize</key>
                <string>{42,186}</string>
            </dict>
            <key>m12_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{46,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,198}}</string>
                <key>sourceSize</key>
                <string>{46,198}</string>
            </dict>
            <key>m12_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,206}}</string>
                <key>sourceSize</key>
                <string>{48,206}</string>
            </dict>
            <key>m12_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{52,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,214}}</string>
                <key>sourceSize</key>
                <string>{52,214}</string>
            </dict>
            <key>m12_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,202},{55,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,222}}</string>
                <key>sourceSize</key>
                <string>{55,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m12.png</string>
            <key>size</key>
            <string>{236,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cbeeb37df2d2329719d84a8979d1af6$</string>
            <key>textureFileName</key>
            <string>m12.png</string>
        </dict>
    </dict>
</plist>
