<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{93,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,17}}</string>
                <key>sourceSize</key>
                <string>{97,21}</string>
            </dict>
            <key>m15_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,52},{79,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>m15_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{79,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>m15_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,52},{79,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>m15_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{75,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,18}}</string>
                <key>sourceSize</key>
                <string>{75,18}</string>
            </dict>
            <key>m15_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{81,19}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,19}}</string>
                <key>sourceSize</key>
                <string>{85,19}</string>
            </dict>
            <key>m15_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,22},{83,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{83,28}</string>
            </dict>
            <key>m15_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>m15_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,150},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m15.png</string>
            <key>size</key>
            <string>{252,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:070a0ba0907c1a2e547941b9ede7c518$</string>
            <key>textureFileName</key>
            <string>m15.png</string>
        </dict>
    </dict>
</plist>
