<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{129,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{129,111}}</string>
                <key>sourceSize</key>
                <string>{141,121}</string>
            </dict>
            <key>m17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{129,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{129,111}}</string>
                <key>sourceSize</key>
                <string>{141,121}</string>
            </dict>
            <key>m17_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>m17_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>m17_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>m17_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>m17_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,115},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>m17_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,115},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>m17_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,115},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>m17_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,115},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>m17_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,115},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>m17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{131,113}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{131,113}}</string>
                <key>sourceSize</key>
                <string>{141,121}</string>
            </dict>
            <key>m17_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,186},{30,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,123}}</string>
                <key>sourceSize</key>
                <string>{30,123}</string>
            </dict>
            <key>m17_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,186},{30,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,113}}</string>
                <key>sourceSize</key>
                <string>{30,113}</string>
            </dict>
            <key>m17_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,186},{30,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,109}}</string>
                <key>sourceSize</key>
                <string>{30,109}</string>
            </dict>
            <key>m17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,186},{129,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{129,111}}</string>
                <key>sourceSize</key>
                <string>{141,121}</string>
            </dict>
            <key>m17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,186},{131,113}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{131,113}}</string>
                <key>sourceSize</key>
                <string>{141,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m17.png</string>
            <key>size</key>
            <string>{495,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f30ce1390a716eddee5ee2df8ea4abc$</string>
            <key>textureFileName</key>
            <string>m17.png</string>
        </dict>
    </dict>
</plist>
