<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m18_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{169,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,45}}</string>
                <key>sourceSize</key>
                <string>{169,45}</string>
            </dict>
            <key>m18_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{70,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>m18_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{66,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>m18_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{62,72}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{62,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>m18_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{161,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{161,170}}</string>
                <key>sourceSize</key>
                <string>{163,170}</string>
            </dict>
            <key>m18_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,80},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>m18_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,80},{86,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,67}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>m18_411.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,80},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>m18_412.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,80},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>m18_413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>m18_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,252},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>m18_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,252},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>m18_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,252},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>m18_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,252},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>m18_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,252},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>m18_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>m18_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,328},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>m18_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,328},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m18.png</string>
            <key>size</key>
            <string>{512,393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c0accecf24bea3a542de1b9e99dad8$</string>
            <key>textureFileName</key>
            <string>m18.png</string>
        </dict>
    </dict>
</plist>
