<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>m2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{102,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,99}}</string>
                <key>sourceSize</key>
                <string>{104,101}</string>
            </dict>
            <key>m2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{96,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,99}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>m2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,103},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>m2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>m2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,204},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>m2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m2.png</string>
            <key>size</key>
            <string>{198,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42f50823351f77f398a25f271ec3e81$</string>
            <key>textureFileName</key>
            <string>m2.png</string>
        </dict>
    </dict>
</plist>
