<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m30_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m30_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>m30_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{77,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>m30_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>m30_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{94,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>m30_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,61},{106,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,69}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>m30_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>m30_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,132},{58,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>m30_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,132},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>m30_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,132},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>m30_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>m30_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,193},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>m30_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{116,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,74}}</string>
                <key>sourceSize</key>
                <string>{116,74}</string>
            </dict>
            <key>m30_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,252},{105,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>m30_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{71,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>m30_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,328},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>m30_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,328},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>m30_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,328},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>m30_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,328},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m30.png</string>
            <key>size</key>
            <string>{252,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1d05e38773b6e11d24393ff5b1c2d00$</string>
            <key>textureFileName</key>
            <string>m30.png</string>
        </dict>
    </dict>
</plist>
