<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m33_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m33_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,390},{70,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,38}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>m33_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,169},{72,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,38}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>m33_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,293},{73,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,36}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>m33_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,241},{71,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,38}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>m33_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,333},{71,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,37}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>m33_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,431},{71,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,37}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>m33_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,407},{70,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,37}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>m33_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{71,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,37}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>m33_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,383},{70,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,38}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>m33_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,257},{73,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,36}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>m33_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{73,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,36}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>m33_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,312},{71,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,38}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>m33_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,285},{73,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,37}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>m33_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,444},{70,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,37}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>m33_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,428},{70,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,37}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>m33_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,370},{71,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,37}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>m33_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{69,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,38}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>m33_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{73,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,36}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>m33_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{70,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>m33_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>m33_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,329},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>m33_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,227},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>m33_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,196},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>m33_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,196},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>m33_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,32},{33,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,119}}</string>
                <key>sourceSize</key>
                <string>{33,119}</string>
            </dict>
            <key>m33_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,119},{32,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,125}}</string>
                <key>sourceSize</key>
                <string>{32,125}</string>
            </dict>
            <key>m33_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,43},{25,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,135}}</string>
                <key>sourceSize</key>
                <string>{25,135}</string>
            </dict>
            <key>m33_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,98},{21,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,127}}</string>
                <key>sourceSize</key>
                <string>{21,127}</string>
            </dict>
            <key>m33_314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{22,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,138}}</string>
                <key>sourceSize</key>
                <string>{22,138}</string>
            </dict>
            <key>m33_315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{21,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,136}}</string>
                <key>sourceSize</key>
                <string>{21,136}</string>
            </dict>
            <key>m33_316.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,151},{13,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,110}}</string>
                <key>sourceSize</key>
                <string>{13,110}</string>
            </dict>
            <key>m33_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,247},{27,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,64}}</string>
                <key>sourceSize</key>
                <string>{27,64}</string>
            </dict>
            <key>m33_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,164},{27,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,83}}</string>
                <key>sourceSize</key>
                <string>{27,83}</string>
            </dict>
            <key>m33_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,164},{32,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,100}}</string>
                <key>sourceSize</key>
                <string>{32,100}</string>
            </dict>
            <key>m33_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,65},{33,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,113}}</string>
                <key>sourceSize</key>
                <string>{33,113}</string>
            </dict>
            <key>m33_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{34,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,125}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>m33_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{34,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,129}}</string>
                <key>sourceSize</key>
                <string>{34,129}</string>
            </dict>
            <key>m33_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{32,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,117}}</string>
                <key>sourceSize</key>
                <string>{32,117}</string>
            </dict>
            <key>m33_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{33,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,123}}</string>
                <key>sourceSize</key>
                <string>{33,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m33.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f22a26b7d0cffb79b6856205acde735$</string>
            <key>textureFileName</key>
            <string>m33.png</string>
        </dict>
    </dict>
</plist>
