<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m37_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m37_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{248,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>m37_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{255,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,154}}</string>
                <key>sourceSize</key>
                <string>{255,154}</string>
            </dict>
            <key>m37_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{98,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{98,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m37.png</string>
            <key>size</key>
            <string>{511,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ff4f4d00a323b474187980cb9a4aec$</string>
            <key>textureFileName</key>
            <string>m37.png</string>
        </dict>
    </dict>
</plist>
