<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{426,258}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,258}}</string>
                <key>sourceSize</key>
                <string>{430,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m4.png</string>
            <key>size</key>
            <string>{432,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46c494143f875943324757f594bed156$</string>
            <key>textureFileName</key>
            <string>m4.png</string>
        </dict>
    </dict>
</plist>
