<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m40_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{208,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,127}}</string>
                <key>sourceSize</key>
                <string>{210,127}</string>
            </dict>
            <key>m40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>m40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,131},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>m40_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{163,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,102}}</string>
                <key>sourceSize</key>
                <string>{163,102}</string>
            </dict>
            <key>m40_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{108,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{108,28}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m40.png</string>
            <key>size</key>
            <string>{216,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58385f994deff5f83423ff2db0af0c6a$</string>
            <key>textureFileName</key>
            <string>m40.png</string>
        </dict>
    </dict>
</plist>
