<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m44_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{466,474}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,474}}</string>
                <key>sourceSize</key>
                <string>{474,474}</string>
            </dict>
            <key>m44_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{512,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,480}}</string>
                <key>sourceSize</key>
                <string>{512,480}</string>
            </dict>
            <key>m44_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{190,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,236}}</string>
                <key>sourceSize</key>
                <string>{190,236}</string>
            </dict>
            <key>m44_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,484},{272,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,288}}</string>
                <key>sourceSize</key>
                <string>{272,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m44.png</string>
            <key>size</key>
            <string>{986,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fac1e341d14b20616cccc52521bb41ec$</string>
            <key>textureFileName</key>
            <string>m44.png</string>
        </dict>
    </dict>
</plist>
