<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m45_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>m45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{73,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m45.png</string>
            <key>size</key>
            <string>{83,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6eda47d95f8a20265530ca2211843dd$</string>
            <key>textureFileName</key>
            <string>m45.png</string>
        </dict>
    </dict>
</plist>
