<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m46_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m46_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4},{252,223}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{252,223}}</string>
                <key>sourceSize</key>
                <string>{268,231}</string>
            </dict>
            <key>m46_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{197,250}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{197,250}}</string>
                <key>sourceSize</key>
                <string>{213,264}</string>
            </dict>
            <key>m46_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{229,265}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{229,265}}</string>
                <key>sourceSize</key>
                <string>{249,295}</string>
            </dict>
            <key>m46_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{78,261}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{78,261}}</string>
                <key>sourceSize</key>
                <string>{104,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m46.png</string>
            <key>size</key>
            <string>{256,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ab1af1c548c3530014c7855dbc0306$</string>
            <key>textureFileName</key>
            <string>m46.png</string>
        </dict>
    </dict>
</plist>
