<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{108,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{108,28}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>m5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m5.png</string>
            <key>size</key>
            <string>{114,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beaddac78260e67614a4452881b342d1$</string>
            <key>textureFileName</key>
            <string>m5.png</string>
        </dict>
    </dict>
</plist>
