<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>m51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>m51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>m51_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>m51_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,79},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>m51_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,79},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>m51_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>m51_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,156},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
            <key>m51_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,156},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m51.png</string>
            <key>size</key>
            <string>{245,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93562103fab3a644bf19c113ed9265d$</string>
            <key>textureFileName</key>
            <string>m51.png</string>
        </dict>
    </dict>
</plist>
