<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m52_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m52_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{235,41}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{235,41}}</string>
                <key>sourceSize</key>
                <string>{273,55}</string>
            </dict>
            <key>m52_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{120,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,81}}</string>
                <key>sourceSize</key>
                <string>{120,81}</string>
            </dict>
            <key>m52_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,873},{165,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,126}}</string>
                <key>sourceSize</key>
                <string>{165,126}</string>
            </dict>
            <key>m52_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{202,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,158}}</string>
                <key>sourceSize</key>
                <string>{202,158}</string>
            </dict>
            <key>m52_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{230,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,164}}</string>
                <key>sourceSize</key>
                <string>{230,164}</string>
            </dict>
            <key>m52_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,117},{253,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,165}}</string>
                <key>sourceSize</key>
                <string>{253,165}</string>
            </dict>
            <key>m52_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{265,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,156}}</string>
                <key>sourceSize</key>
                <string>{265,156}</string>
            </dict>
            <key>m52_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{326,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{326,68}}</string>
                <key>sourceSize</key>
                <string>{326,76}</string>
            </dict>
            <key>m52_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,494},{184,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,146}}</string>
                <key>sourceSize</key>
                <string>{184,146}</string>
            </dict>
            <key>m52_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{330,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,134}}</string>
                <key>sourceSize</key>
                <string>{330,134}</string>
            </dict>
            <key>m52_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,134}}</string>
                <key>sourceSize</key>
                <string>{330,134}</string>
            </dict>
            <key>m52_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,344},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>m52_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,633},{162,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,86}}</string>
                <key>sourceSize</key>
                <string>{162,86}</string>
            </dict>
            <key>m52_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,762},{178,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,109}}</string>
                <key>sourceSize</key>
                <string>{178,109}</string>
            </dict>
            <key>m52_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,372},{181,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,120}}</string>
                <key>sourceSize</key>
                <string>{181,120}</string>
            </dict>
            <key>m52_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,642},{180,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,118}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>m52_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{173,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,113}}</string>
                <key>sourceSize</key>
                <string>{173,113}</string>
            </dict>
            <key>m52_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,480},{151,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,52}}</string>
                <key>sourceSize</key>
                <string>{151,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m52.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:615d1a1075ce80e483d0001b36b90afd$</string>
            <key>textureFileName</key>
            <string>m52.png</string>
        </dict>
    </dict>
</plist>
