<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m53_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,122},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m53_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,644},{223,39}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{223,39}}</string>
                <key>sourceSize</key>
                <string>{273,55}</string>
            </dict>
            <key>m53_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,685},{120,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,81}}</string>
                <key>sourceSize</key>
                <string>{120,81}</string>
            </dict>
            <key>m53_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,827},{165,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,126}}</string>
                <key>sourceSize</key>
                <string>{165,126}</string>
            </dict>
            <key>m53_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{202,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,158}}</string>
                <key>sourceSize</key>
                <string>{202,158}</string>
            </dict>
            <key>m53_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,478},{230,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,164}}</string>
                <key>sourceSize</key>
                <string>{230,164}</string>
            </dict>
            <key>m53_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{253,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,165}}</string>
                <key>sourceSize</key>
                <string>{253,165}</string>
            </dict>
            <key>m53_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{265,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,156}}</string>
                <key>sourceSize</key>
                <string>{265,156}</string>
            </dict>
            <key>m53_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{326,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{326,66}}</string>
                <key>sourceSize</key>
                <string>{326,76}</string>
            </dict>
            <key>m53_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{184,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,146}}</string>
                <key>sourceSize</key>
                <string>{184,146}</string>
            </dict>
            <key>m53_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{326,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,134}}</string>
                <key>sourceSize</key>
                <string>{330,134}</string>
            </dict>
            <key>m53_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,134}}</string>
                <key>sourceSize</key>
                <string>{330,134}</string>
            </dict>
            <key>m53_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,342},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>m53_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,807},{162,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,86}}</string>
                <key>sourceSize</key>
                <string>{162,86}</string>
            </dict>
            <key>m53_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,122},{178,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,109}}</string>
                <key>sourceSize</key>
                <string>{178,109}</string>
            </dict>
            <key>m53_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,348},{181,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,120}}</string>
                <key>sourceSize</key>
                <string>{181,120}</string>
            </dict>
            <key>m53_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{180,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,118}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>m53_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,233},{173,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,113}}</string>
                <key>sourceSize</key>
                <string>{173,113}</string>
            </dict>
            <key>m53_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,685},{151,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,52}}</string>
                <key>sourceSize</key>
                <string>{151,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m53.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fb90689a91257101c9b5949b8c9e3de$</string>
            <key>textureFileName</key>
            <string>m53.png</string>
        </dict>
    </dict>
</plist>
