<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{52,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>m6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{66,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>m6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{89,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>m6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{102,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>m6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{175,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,125}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>m6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{175,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,128}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>m6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,129},{195,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{195,135}}</string>
                <key>sourceSize</key>
                <string>{201,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m6.png</string>
            <key>size</key>
            <string>{498,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f84a46e74e9f55fad57c376c6b0fe31$</string>
            <key>textureFileName</key>
            <string>m6.png</string>
        </dict>
    </dict>
</plist>
