<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WBbaoxiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>WBbaoxiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{114,118}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>WBbaoxiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{130,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{130,158}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>WBbaoxiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{179,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,144}}</string>
                <key>sourceSize</key>
                <string>{179,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WBbaoxiang.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a081c46468a369cc3573dae0d4f0bf05$</string>
            <key>textureFileName</key>
            <string>WBbaoxiang.png</string>
        </dict>
    </dict>
</plist>
