<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xgnkqtx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>xgnkqtx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,0},{109,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,99}}</string>
                <key>sourceSize</key>
                <string>{109,99}</string>
            </dict>
            <key>xgnkqtx_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>xgnkqtx_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,711},{166,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,174}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>xgnkqtx_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,710},{166,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,172}</string>
            </dict>
            <key>xgnkqtx_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,719},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>xgnkqtx_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,360},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>xgnkqtx_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xgnkqtx_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{179,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,170}}</string>
                <key>sourceSize</key>
                <string>{179,172}</string>
            </dict>
            <key>xgnkqtx_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{180,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,169}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>xgnkqtx_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{177,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>xgnkqtx_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,537},{174,167}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,167}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>xgnkqtx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,880},{112,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>xgnkqtx_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,719},{177,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{179,167}</string>
            </dict>
            <key>xgnkqtx_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,537},{173,169}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{173,169}}</string>
                <key>sourceSize</key>
                <string>{177,179}</string>
            </dict>
            <key>xgnkqtx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,880},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>xgnkqtx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,885},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>xgnkqtx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,896},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xgnkqtx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,893},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>xgnkqtx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{128,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,146}}</string>
                <key>sourceSize</key>
                <string>{128,146}</string>
            </dict>
            <key>xgnkqtx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{154,165}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,165}}</string>
                <key>sourceSize</key>
                <string>{156,167}</string>
            </dict>
            <key>xgnkqtx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,180},{177,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,172}}</string>
                <key>sourceSize</key>
                <string>{179,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xgnkqtx.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f183232f882a9b8e5ad844e46adc205$</string>
            <key>textureFileName</key>
            <string>xgnkqtx.png</string>
        </dict>
    </dict>
</plist>
