<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{236,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,143}}</string>
                <key>sourceSize</key>
                <string>{236,143}</string>
            </dict>
            <key>m10_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m10.png</string>
            <key>size</key>
            <string>{242,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515d7a70269b5c5f695cf818f4ad5340$</string>
            <key>textureFileName</key>
            <string>m10.png</string>
        </dict>
    </dict>
</plist>
