<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,145},{72,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,300}}</string>
                <key>sourceSize</key>
                <string>{72,300}</string>
            </dict>
            <key>m24_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,145},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>m24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{225,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,116}}</string>
                <key>sourceSize</key>
                <string>{225,116}</string>
            </dict>
            <key>m24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>m24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{200,113}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{200,113}}</string>
                <key>sourceSize</key>
                <string>{246,135}</string>
            </dict>
            <key>m24_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,145},{215,209}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{215,209}}</string>
                <key>sourceSize</key>
                <string>{229,235}</string>
            </dict>
            <key>m24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,145},{222,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,300}}</string>
                <key>sourceSize</key>
                <string>{222,300}</string>
            </dict>
            <key>m24_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{250,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,207}}</string>
                <key>sourceSize</key>
                <string>{250,207}</string>
            </dict>
            <key>m24_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{248,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,141}}</string>
                <key>sourceSize</key>
                <string>{248,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m24.png</string>
            <key>size</key>
            <string>{918,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc08b176ec45ef935a1b5f11ee541970$</string>
            <key>textureFileName</key>
            <string>m24.png</string>
        </dict>
    </dict>
</plist>
