<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m35_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m35_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>m35_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{60,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,113}}</string>
                <key>sourceSize</key>
                <string>{60,113}</string>
            </dict>
            <key>m35_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>m35_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>m35_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,117},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>m35_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,117},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>m35_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{70,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,111}}</string>
                <key>sourceSize</key>
                <string>{70,111}</string>
            </dict>
            <key>m35_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,227},{60,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,96}}</string>
                <key>sourceSize</key>
                <string>{60,96}</string>
            </dict>
            <key>m35_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,227},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>m35_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{60,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m35.png</string>
            <key>size</key>
            <string>{218,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fffd837dec1bd157125d25b1245088a4$</string>
            <key>textureFileName</key>
            <string>m35.png</string>
        </dict>
    </dict>
</plist>
