<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>m9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{187,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,146}}</string>
                <key>sourceSize</key>
                <string>{187,146}</string>
            </dict>
            <key>m9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{258,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,184}}</string>
                <key>sourceSize</key>
                <string>{258,184}</string>
            </dict>
            <key>m9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{192,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,100}}</string>
                <key>sourceSize</key>
                <string>{192,100}</string>
            </dict>
            <key>m9_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,188},{161,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,49}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m9.png</string>
            <key>size</key>
            <string>{453,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c67a9833302ce7cfe1d16499c05266ea$</string>
            <key>textureFileName</key>
            <string>m9.png</string>
        </dict>
    </dict>
</plist>
