<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{205,195}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{205,195}}</string>
                <key>sourceSize</key>
                <string>{205,195}</string>
            </dict>
            <key>heffect_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{306,322}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{306,322}}</string>
                <key>sourceSize</key>
                <string>{306,322}</string>
            </dict>
            <key>heffect_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,357}}</string>
                <key>sourceSize</key>
                <string>{388,357}</string>
            </dict>
            <key>heffect_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{349,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,321}}</string>
                <key>sourceSize</key>
                <string>{349,321}</string>
            </dict>
            <key>heffect_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,322},{334,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,319}}</string>
                <key>sourceSize</key>
                <string>{334,319}</string>
            </dict>
            <key>heffect_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,0},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>heffect_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,233},{222,222}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>heffect_2_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_2.png</string>
            <key>size</key>
            <string>{972,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8358e85eb921d7ca6595a7fad979d474$</string>
            <key>textureFileName</key>
            <string>heffect_2.png</string>
        </dict>
    </dict>
</plist>
