<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,219},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>heffect_11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{289,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,319}}</string>
                <key>sourceSize</key>
                <string>{289,319}</string>
            </dict>
            <key>heffect_11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,208},{134,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,121}}</string>
                <key>sourceSize</key>
                <string>{134,121}</string>
            </dict>
            <key>heffect_11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,320},{176,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,165}}</string>
                <key>sourceSize</key>
                <string>{176,165}</string>
            </dict>
            <key>heffect_11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{217,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,182}}</string>
                <key>sourceSize</key>
                <string>{217,182}</string>
            </dict>
            <key>heffect_11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,219},{253,213}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{253,213}}</string>
                <key>sourceSize</key>
                <string>{253,213}</string>
            </dict>
            <key>heffect_11_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{261,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{261,218}}</string>
                <key>sourceSize</key>
                <string>{261,218}</string>
            </dict>
            <key>heffect_11_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{152,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,207}}</string>
                <key>sourceSize</key>
                <string>{152,207}</string>
            </dict>
            <key>heffect_11_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,503},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_11.png</string>
            <key>size</key>
            <string>{783,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7530b916d4ee1d33c6ac2dc9deb70675$</string>
            <key>textureFileName</key>
            <string>heffect_11.png</string>
        </dict>
    </dict>
</plist>
