<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{269,191}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,106},{269,191}}</string>
                <key>sourceSize</key>
                <string>{269,191}</string>
            </dict>
            <key>heffect_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{342,322}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{342,322}}</string>
                <key>sourceSize</key>
                <string>{342,322}</string>
            </dict>
            <key>heffect_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{456,322}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{456,322}}</string>
                <key>sourceSize</key>
                <string>{456,322}</string>
            </dict>
            <key>heffect_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{454,223}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{454,223}}</string>
                <key>sourceSize</key>
                <string>{454,223}</string>
            </dict>
            <key>heffect_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,224},{454,145}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{454,145}}</string>
                <key>sourceSize</key>
                <string>{454,145}</string>
            </dict>
            <key>heffect_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,646},{318,110}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,101},{318,110}}</string>
                <key>sourceSize</key>
                <string>{318,110}</string>
            </dict>
            <key>heffect_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{312,122}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,107},{312,122}}</string>
                <key>sourceSize</key>
                <string>{312,122}</string>
            </dict>
            <key>heffect_1_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_1.png</string>
            <key>size</key>
            <string>{912,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e657d0c13e5cf1908be941c9ceb8c1fe$</string>
            <key>textureFileName</key>
            <string>heffect_1.png</string>
        </dict>
    </dict>
</plist>
