<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,136},{26,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,84},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>heffect_13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,180}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>heffect_13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,181},{116,116}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>heffect_13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{122,122}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>heffect_13_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{134,134}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>heffect_13_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{66,72}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,58},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>heffect_13_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,73},{60,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>heffect_13_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_13.png</string>
            <key>size</key>
            <string>{251,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e451bd2776eee7c4d922951f9b6284d7$</string>
            <key>textureFileName</key>
            <string>heffect_13.png</string>
        </dict>
    </dict>
</plist>
