<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S012_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,105}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>town_S012_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{77,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{77,105}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>town_S012_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{77,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{77,105}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>town_S012_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{75,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{75,105}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>town_S012_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,109},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>town_S012_stand_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,109},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S012_stand.png</string>
            <key>size</key>
            <string>{237,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6768c11be0f83f29f170971baeafce4c$</string>
            <key>textureFileName</key>
            <string>town_S012_stand.png</string>
        </dict>
    </dict>
</plist>
