<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S004_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>town_S004_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,108},{73,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,107}}</string>
			<key>sourceSize</key>
			<string>{73,107}</string>
		</dict>
		<key>town_S004_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,0},{74,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,107}}</string>
			<key>sourceSize</key>
			<string>{74,107}</string>
		</dict>
		<key>town_S004_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,0},{74,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,106}}</string>
			<key>sourceSize</key>
			<string>{74,106}</string>
		</dict>
		<key>town_S004_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,0},{73,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,106}}</string>
			<key>sourceSize</key>
			<string>{73,106}</string>
		</dict>
		<key>town_S004_stand_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,108},{74,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,106}}</string>
			<key>sourceSize</key>
			<string>{74,106}</string>
		</dict>
		<key>town_S004_stand_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,0},{74,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,107}}</string>
			<key>sourceSize</key>
			<string>{74,107}</string>
		</dict>
		<key>town_S004_stand_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,108},{73,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,107}}</string>
			<key>sourceSize</key>
			<string>{73,107}</string>
		</dict>
		<key>town_S004_stand_yingzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,108},{100,27}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{100,27}}</string>
			<key>sourceSize</key>
			<string>{100,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S004_stand.png</string>
		<key>size</key>
		<string>{249,215}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:134641683312f81d2c5f2bb10ae5bc08$</string>
		<key>textureFileName</key>
		<string>town_S004_stand.png</string>
	</dict>
</dict>
</plist>
