<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S016_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{109,150}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{109,150}}</string>
                <key>sourceSize</key>
                <string>{127,166}</string>
            </dict>
            <key>town_S016_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,150},{109,149}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{109,149}}</string>
                <key>sourceSize</key>
                <string>{127,169}</string>
            </dict>
            <key>town_S016_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,299},{101,144}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{101,144}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>town_S016_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{99,146}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{99,146}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>town_S016_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{99,146}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{99,146}}</string>
                <key>sourceSize</key>
                <string>{127,166}</string>
            </dict>
            <key>town_S016_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,150}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{113,150}}</string>
                <key>sourceSize</key>
                <string>{127,166}</string>
            </dict>
            <key>town_S016_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{115,149}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{115,149}}</string>
                <key>sourceSize</key>
                <string>{127,169}</string>
            </dict>
            <key>town_S016_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,95},{101,144}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{101,144}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>town_S016_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,299},{99,144}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{99,144}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>town_S016_run_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{95,146}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{95,146}}</string>
                <key>sourceSize</key>
                <string>{127,166}</string>
            </dict>
            <key>town_S016_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S016_run.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c61554ef19a0385b6e0dc98225dea6$</string>
            <key>textureFileName</key>
            <string>town_S016_run.png</string>
        </dict>
    </dict>
</plist>
