<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S020_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,151}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{86,151}}</string>
                <key>sourceSize</key>
                <string>{104,161}</string>
            </dict>
            <key>town_S020_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,86},{86,149}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,149}}</string>
                <key>sourceSize</key>
                <string>{104,161}</string>
            </dict>
            <key>town_S020_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{86,149}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,149}}</string>
                <key>sourceSize</key>
                <string>{104,161}</string>
            </dict>
            <key>town_S020_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{86,149}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,149}}</string>
                <key>sourceSize</key>
                <string>{104,161}</string>
            </dict>
            <key>town_S020_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S020_stand.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:311c876b4ae0927540289aca7eab91f7$</string>
            <key>textureFileName</key>
            <string>town_S020_stand.png</string>
        </dict>
    </dict>
</plist>
