<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S014_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,145}}</string>
                <key>sourceSize</key>
                <string>{72,145}</string>
            </dict>
            <key>town_S014_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{66,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,145}}</string>
                <key>sourceSize</key>
                <string>{72,145}</string>
            </dict>
            <key>town_S014_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{68,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,145}}</string>
                <key>sourceSize</key>
                <string>{72,145}</string>
            </dict>
            <key>town_S014_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{70,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,143}}</string>
                <key>sourceSize</key>
                <string>{72,145}</string>
            </dict>
            <key>town_S014_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,149},{70,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,145}}</string>
                <key>sourceSize</key>
                <string>{72,145}</string>
            </dict>
            <key>town_S014_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,149},{66,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,145}}</string>
                <key>sourceSize</key>
                <string>{72,145}</string>
            </dict>
            <key>town_S014_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,149},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>town_S014_stand_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S014_stand.png</string>
            <key>size</key>
            <string>{216,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d8d9bbc94b7a770fc2a6cd0f949f44e$</string>
            <key>textureFileName</key>
            <string>town_S014_stand.png</string>
        </dict>
    </dict>
</plist>
