<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S019_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{102,131}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>town_S019_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,131},{99,127}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{99,127}}</string>
                <key>sourceSize</key>
                <string>{109,141}</string>
            </dict>
            <key>town_S019_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,391},{100,123}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{100,123}}</string>
                <key>sourceSize</key>
                <string>{116,143}</string>
            </dict>
            <key>town_S019_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,384},{88,126}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{88,126}}</string>
                <key>sourceSize</key>
                <string>{112,142}</string>
            </dict>
            <key>town_S019_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,262},{86,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{86,129}}</string>
                <key>sourceSize</key>
                <string>{108,141}</string>
            </dict>
            <key>town_S019_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{92,131}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,131}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>town_S019_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{96,127}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{96,127}}</string>
                <key>sourceSize</key>
                <string>{108,141}</string>
            </dict>
            <key>town_S019_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,393},{102,124}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{102,124}}</string>
                <key>sourceSize</key>
                <string>{114,142}</string>
            </dict>
            <key>town_S019_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{93,126}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{93,126}}</string>
                <key>sourceSize</key>
                <string>{115,142}</string>
            </dict>
            <key>town_S019_run_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{98,131}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,131}}</string>
                <key>sourceSize</key>
                <string>{116,143}</string>
            </dict>
            <key>town_S019_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S019_run.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a25dba0150f380a8a155aa74e76a814$</string>
            <key>textureFileName</key>
            <string>town_S019_run.png</string>
        </dict>
    </dict>
</plist>
