<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S020_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{139,141}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{139,141}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,0},{139,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{139,135}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,397},{135,129}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{135,129}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{139,131}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{139,131}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{135,135}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{135,135}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,135},{139,131}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{139,131}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,133},{139,133}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{139,133}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,266},{135,131}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{135,131}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{139,133}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{139,133}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,266},{135,135}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{135,135}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>town_S020_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S020_run.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5bbf8bccb8464532480b3c302eb5d87$</string>
            <key>textureFileName</key>
            <string>town_S020_run.png</string>
        </dict>
    </dict>
</plist>
