<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S017_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{112,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,143}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,143},{106,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{106,141}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,96},{96,139}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,139}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,288},{96,143}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{96,143}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,145}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{98,145}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{98,143}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{98,143}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{96,139}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,139}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,284},{96,137}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{96,137}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{96,139}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,139}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{106,143}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{106,143}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>town_S017_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S017_run.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a42f29b1a121e5f0c7f3c6da0258ea$</string>
            <key>textureFileName</key>
            <string>town_S017_run.png</string>
        </dict>
    </dict>
</plist>
