<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S012_run_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,106}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{88,102}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,102}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{90,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,102}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{90,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,102}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{82,104}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{82,104}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{76,102}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,110},{88,102}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,102}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,110},{90,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,103}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>town_S012_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,110},{90,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,103}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>town_S012_run_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,110},{82,104}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{82,104}}</string>
                <key>sourceSize</key>
                <string>{92,106}</string>
            </dict>
            <key>town_S012_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,110},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>town_S012_run_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S012_run.png</string>
            <key>size</key>
            <string>{440,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a45b785322822d3c2afcfc814888b3$</string>
            <key>textureFileName</key>
            <string>town_S012_run.png</string>
        </dict>
    </dict>
</plist>
