<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S015_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,125}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{106,129}</string>
            </dict>
            <key>town_S015_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,99},{94,122}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{104,126}</string>
            </dict>
            <key>town_S015_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{86,119}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>town_S015_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,193},{81,121}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,121}}</string>
                <key>sourceSize</key>
                <string>{99,125}</string>
            </dict>
            <key>town_S015_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{86,122}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,122}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>town_S015_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{99,124}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,124}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>town_S015_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{93,122}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,122}}</string>
                <key>sourceSize</key>
                <string>{103,126}</string>
            </dict>
            <key>town_S015_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{83,120}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,120}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>town_S015_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,363},{81,119}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{99,123}</string>
            </dict>
            <key>town_S015_run_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,274},{89,120}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,120}}</string>
                <key>sourceSize</key>
                <string>{99,124}</string>
            </dict>
            <key>town_S015_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S015_run.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f23ed495c0ef8c7c46deb71339a4f97$</string>
            <key>textureFileName</key>
            <string>town_S015_run.png</string>
        </dict>
    </dict>
</plist>
