<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S001_run_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>town_S001_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,0},{99,128}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,128}}</string>
			<key>sourceSize</key>
			<string>{99,128}</string>
		</dict>
		<key>town_S001_run_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,0},{85,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{85,127}}</string>
			<key>sourceSize</key>
			<string>{85,127}</string>
		</dict>
		<key>town_S001_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,0},{94,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,127}}</string>
			<key>sourceSize</key>
			<string>{94,127}</string>
		</dict>
		<key>town_S001_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,0},{93,125}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{93,125}}</string>
			<key>sourceSize</key>
			<string>{93,125}</string>
		</dict>
		<key>town_S001_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,0},{88,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{88,127}}</string>
			<key>sourceSize</key>
			<string>{88,127}</string>
		</dict>
		<key>town_S001_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,129},{85,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{85,127}}</string>
			<key>sourceSize</key>
			<string>{85,127}</string>
		</dict>
		<key>town_S001_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,129},{100,128}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,128}}</string>
			<key>sourceSize</key>
			<string>{100,128}</string>
		</dict>
		<key>town_S001_run_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,129},{89,127}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,127}}</string>
			<key>sourceSize</key>
			<string>{89,127}</string>
		</dict>
		<key>town_S001_run_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,129},{93,125}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{93,125}}</string>
			<key>sourceSize</key>
			<string>{93,125}</string>
		</dict>
		<key>town_S001_run_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,129},{88,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{88,127}}</string>
			<key>sourceSize</key>
			<string>{88,127}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S001_run.png</string>
		<key>size</key>
		<string>{464,257}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:14af7fd3d962c38014e7dc0c226d84e9$</string>
		<key>textureFileName</key>
		<string>town_S001_run.png</string>
	</dict>
</dict>
</plist>
