<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S005_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{100,27}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{100,27}}</string>
			<key>sourceSize</key>
			<string>{100,27}</string>
		</dict>
		<key>town_S005_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,28},{57,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,145}}</string>
			<key>sourceSize</key>
			<string>{57,145}</string>
		</dict>
		<key>town_S005_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,28},{57,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,144}}</string>
			<key>sourceSize</key>
			<string>{57,144}</string>
		</dict>
		<key>town_S005_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,174},{57,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,144}}</string>
			<key>sourceSize</key>
			<string>{57,144}</string>
		</dict>
		<key>town_S005_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,174},{57,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,143}}</string>
			<key>sourceSize</key>
			<string>{57,143}</string>
		</dict>
		<key>town_S005_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,319},{57,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,144}}</string>
			<key>sourceSize</key>
			<string>{57,144}</string>
		</dict>
		<key>town_S005_stand_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,319},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S005_stand.png</string>
		<key>size</key>
		<string>{115,463}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1c9b405486cc7d4a7bd98bc3a80e0bcf$</string>
		<key>textureFileName</key>
		<string>town_S005_stand.png</string>
	</dict>
</dict>
</plist>
