<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S001_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>town_S001_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,0},{41,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,68}}</string>
			<key>sourceSize</key>
			<string>{41,68}</string>
		</dict>
		<key>town_S001_stand_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,0},{74,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,80}}</string>
			<key>sourceSize</key>
			<string>{74,80}</string>
		</dict>
		<key>town_S001_stand_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,0},{74,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,81}}</string>
			<key>sourceSize</key>
			<string>{74,81}</string>
		</dict>
		<key>town_S001_stand_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,82},{74,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,82}}</string>
			<key>sourceSize</key>
			<string>{74,82}</string>
		</dict>
		<key>town_S001_stand_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,82},{74,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,83}}</string>
			<key>sourceSize</key>
			<string>{74,83}</string>
		</dict>
		<key>town_S001_stand_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,82},{74,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,82}}</string>
			<key>sourceSize</key>
			<string>{74,82}</string>
		</dict>
		<key>town_S001_stand_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,166},{74,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,81}}</string>
			<key>sourceSize</key>
			<string>{74,81}</string>
		</dict>
		<key>town_S001_stand_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,166},{74,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,80}}</string>
			<key>sourceSize</key>
			<string>{74,80}</string>
		</dict>
		<key>town_S001_stand_yingzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,166},{100,27}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{100,27}}</string>
			<key>sourceSize</key>
			<string>{100,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S001_stand.png</string>
		<key>size</key>
		<string>{250,247}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:38b7c18c1d72af63f253f396e2cac59c$</string>
		<key>textureFileName</key>
		<string>town_S001_stand.png</string>
	</dict>
</dict>
</plist>
