<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S006_run_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{100,27}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{100,27}}</string>
			<key>sourceSize</key>
			<string>{100,27}</string>
		</dict>
		<key>town_S006_run_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,0},{119,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,136}}</string>
			<key>sourceSize</key>
			<string>{119,136}</string>
		</dict>
		<key>town_S006_run_210.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,0},{116,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,120}}</string>
			<key>sourceSize</key>
			<string>{116,120}</string>
		</dict>
		<key>town_S006_run_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,0},{111,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,128}}</string>
			<key>sourceSize</key>
			<string>{111,128}</string>
		</dict>
		<key>town_S006_run_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,137},{115,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,123}}</string>
			<key>sourceSize</key>
			<string>{115,123}</string>
		</dict>
		<key>town_S006_run_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,137},{116,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,119}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>town_S006_run_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,137},{118,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,118}}</string>
			<key>sourceSize</key>
			<string>{118,118}</string>
		</dict>
		<key>town_S006_run_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,137},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>town_S006_run_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,261},{111,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,125}}</string>
			<key>sourceSize</key>
			<string>{111,125}</string>
		</dict>
		<key>town_S006_run_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,261},{115,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,122}}</string>
			<key>sourceSize</key>
			<string>{115,122}</string>
		</dict>
		<key>town_S006_run_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,261},{111,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,117}}</string>
			<key>sourceSize</key>
			<string>{111,117}</string>
		</dict>
		<key>town_S006_run_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,261},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S006_run.png</string>
		<key>size</key>
		<string>{472,386}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:953b4f74d35bd47875b57c9cbc814759$</string>
		<key>textureFileName</key>
		<string>town_S006_run.png</string>
	</dict>
</dict>
</plist>
