<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S003_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>town_S003_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,0},{105,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,147}}</string>
			<key>sourceSize</key>
			<string>{105,147}</string>
		</dict>
		<key>town_S003_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,0},{104,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,146}}</string>
			<key>sourceSize</key>
			<string>{104,146}</string>
		</dict>
		<key>town_S003_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,0},{102,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,146}}</string>
			<key>sourceSize</key>
			<string>{102,146}</string>
		</dict>
		<key>town_S003_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,0},{100,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,144}}</string>
			<key>sourceSize</key>
			<string>{100,144}</string>
		</dict>
		<key>town_S003_stand_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,148},{102,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,146}}</string>
			<key>sourceSize</key>
			<string>{102,146}</string>
		</dict>
		<key>town_S003_stand_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,148},{104,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,146}}</string>
			<key>sourceSize</key>
			<string>{104,146}</string>
		</dict>
		<key>town_S003_stand_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,148},{105,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,147}}</string>
			<key>sourceSize</key>
			<string>{105,147}</string>
		</dict>
		<key>town_S003_stand_yingzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,148},{100,27}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{100,27}}</string>
			<key>sourceSize</key>
			<string>{100,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S003_stand.png</string>
		<key>size</key>
		<string>{415,295}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fa4871e5512f075870f3412e9d82e85a$</string>
		<key>textureFileName</key>
		<string>town_S003_stand.png</string>
	</dict>
</dict>
</plist>
