<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>town_S011_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>town_S011_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,138}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>town_S011_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{96,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,136}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>town_S011_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,142},{94,136}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,136}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>town_S011_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,142},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>town_S011_stand_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town_S011_stand.png</string>
            <key>size</key>
            <string>{204,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e72665e53e3942e42d6dc96d2dfd82c$</string>
            <key>textureFileName</key>
            <string>town_S011_stand.png</string>
        </dict>
    </dict>
</plist>
