<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>town_S005_run_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>town_S005_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,0},{80,123}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{80,123}}</string>
			<key>sourceSize</key>
			<string>{80,123}</string>
		</dict>
		<key>town_S005_run_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,124},{94,123}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{94,123}}</string>
			<key>sourceSize</key>
			<string>{94,123}</string>
		</dict>
		<key>town_S005_run_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,0},{80,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{80,121}}</string>
			<key>sourceSize</key>
			<string>{80,121}</string>
		</dict>
		<key>town_S005_run_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,0},{80,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{80,121}}</string>
			<key>sourceSize</key>
			<string>{80,121}</string>
		</dict>
		<key>town_S005_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,0},{80,123}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{80,123}}</string>
			<key>sourceSize</key>
			<string>{80,123}</string>
		</dict>
		<key>town_S005_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,124},{92,123}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{92,123}}</string>
			<key>sourceSize</key>
			<string>{92,123}</string>
		</dict>
		<key>town_S005_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,124},{86,123}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{86,123}}</string>
			<key>sourceSize</key>
			<string>{86,123}</string>
		</dict>
		<key>town_S005_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,0},{80,123}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{80,123}}</string>
			<key>sourceSize</key>
			<string>{80,123}</string>
		</dict>
		<key>town_S005_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,0},{80,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{80,121}}</string>
			<key>sourceSize</key>
			<string>{80,121}</string>
		</dict>
		<key>town_S005_run_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,124},{86,123}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{86,123}}</string>
			<key>sourceSize</key>
			<string>{86,123}</string>
		</dict>
		<key>town_S005_run_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,124},{88,123}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{88,123}}</string>
			<key>sourceSize</key>
			<string>{88,123}</string>
		</dict>
		<key>town_S005_run_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,248},{100,123}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{100,123}}</string>
			<key>sourceSize</key>
			<string>{100,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>town_S005_run.png</string>
		<key>size</key>
		<string>{486,371}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52bedafc24b83ad409115ce5223cb52c$</string>
		<key>textureFileName</key>
		<string>town_S005_run.png</string>
	</dict>
</dict>
</plist>
