<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A001_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{161,280}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,280}}</string>
                <key>sourceSize</key>
                <string>{161,280}</string>
            </dict>
            <key>A001_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{167,280}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,280}}</string>
                <key>sourceSize</key>
                <string>{167,280}</string>
            </dict>
            <key>A001_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{173,280}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,280}}</string>
                <key>sourceSize</key>
                <string>{173,280}</string>
            </dict>
            <key>A001_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A001_stand.png</string>
            <key>size</key>
            <string>{504,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0c518add8ac6438eaa0993fa827f920$</string>
            <key>textureFileName</key>
            <string>A001_stand.png</string>
        </dict>
    </dict>
</plist>
