<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A001_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,0},{203,169}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{203,169}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
            <key>A001_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,199},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>A001_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,0},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>A001_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,280}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,280}}</string>
                <key>sourceSize</key>
                <string>{161,280}</string>
            </dict>
            <key>A001_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,240},{198,239}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,239}}</string>
                <key>sourceSize</key>
                <string>{198,239}</string>
            </dict>
            <key>A001_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{202,199}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,199}}</string>
                <key>sourceSize</key>
                <string>{202,199}</string>
            </dict>
            <key>A001_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{263,198}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,198}}</string>
                <key>sourceSize</key>
                <string>{263,198}</string>
            </dict>
            <key>A001_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,199},{243,181}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,181}}</string>
                <key>sourceSize</key>
                <string>{243,181}</string>
            </dict>
            <key>A001_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{202,239}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,239}}</string>
                <key>sourceSize</key>
                <string>{202,239}</string>
            </dict>
            <key>A001_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,384},{152,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,100}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>A001_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,384},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>A001_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A001_rageskill.png</string>
            <key>size</key>
            <string>{926,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:513f184864c59959b590826fc0b3bb0b$</string>
            <key>textureFileName</key>
            <string>A001_rageskill.png</string>
        </dict>
    </dict>
</plist>
