<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A001_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,204},{110,137}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{110,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
            <key>A001_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,342},{159,120}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{159,120}}</string>
                <key>sourceSize</key>
                <string>{159,120}</string>
            </dict>
            <key>A001_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,402},{86,70}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>A001_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,280}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,280}}</string>
                <key>sourceSize</key>
                <string>{161,280}</string>
            </dict>
            <key>A001_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{196,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,204}}</string>
                <key>sourceSize</key>
                <string>{196,204}</string>
            </dict>
            <key>A001_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{222,203}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{222,203}}</string>
                <key>sourceSize</key>
                <string>{222,203}</string>
            </dict>
            <key>A001_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,0},{252,182}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{252,182}}</string>
                <key>sourceSize</key>
                <string>{252,182}</string>
            </dict>
            <key>A001_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{305,263}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{305,263}}</string>
                <key>sourceSize</key>
                <string>{305,263}</string>
            </dict>
            <key>A001_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,264},{278,239}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{278,239}}</string>
                <key>sourceSize</key>
                <string>{278,239}</string>
            </dict>
            <key>A001_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,204},{134,197}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,197}}</string>
                <key>sourceSize</key>
                <string>{134,197}</string>
            </dict>
            <key>A001_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A001_attacks.png</string>
            <key>size</key>
            <string>{943,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75f0e8b1b62681c390b6ff29c5f02c46$</string>
            <key>textureFileName</key>
            <string>A001_attacks.png</string>
        </dict>
    </dict>
</plist>
