<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A002_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,170}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{162,170}}</string>
                <key>sourceSize</key>
                <string>{162,170}</string>
            </dict>
            <key>A002_beattack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{141,143}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>A002_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A002_beattack.png</string>
            <key>size</key>
            <string>{163,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:969d17a6eeae7937e4ddc5e6de7dc087$</string>
            <key>textureFileName</key>
            <string>A002_beattack.png</string>
        </dict>
    </dict>
</plist>
