<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A002_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{162,170}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{162,170}}</string>
                <key>sourceSize</key>
                <string>{162,170}</string>
            </dict>
            <key>A002_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,254}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{118,254}}</string>
                <key>sourceSize</key>
                <string>{118,254}</string>
            </dict>
            <key>A002_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,255},{189,181}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,181}}</string>
                <key>sourceSize</key>
                <string>{189,181}</string>
            </dict>
            <key>A002_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{215,140}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{215,140}}</string>
                <key>sourceSize</key>
                <string>{215,140}</string>
            </dict>
            <key>A002_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,141},{182,161}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{182,161}}</string>
                <key>sourceSize</key>
                <string>{182,161}</string>
            </dict>
            <key>A002_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,171},{135,77}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{135,77}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>A002_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A002_attacks.png</string>
            <key>size</key>
            <string>{497,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e382fc06cf22f729644c04c3c6a7c7a$</string>
            <key>textureFileName</key>
            <string>A002_attacks.png</string>
        </dict>
    </dict>
</plist>
