<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A002_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{162,170}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{162,170}}</string>
                <key>sourceSize</key>
                <string>{162,170}</string>
            </dict>
            <key>A002_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{183,170}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{183,170}}</string>
                <key>sourceSize</key>
                <string>{183,170}</string>
            </dict>
            <key>A002_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A002_jump.png</string>
            <key>size</key>
            <string>{184,341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c15a12e94f4c6b6b5b47c49ade53705$</string>
            <key>textureFileName</key>
            <string>A002_jump.png</string>
        </dict>
    </dict>
</plist>
