<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A003_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,208},{184,139}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{184,139}}</string>
                <key>sourceSize</key>
                <string>{184,139}</string>
            </dict>
            <key>A003_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,348},{128,116}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>A003_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{97,207}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,207}}</string>
                <key>sourceSize</key>
                <string>{97,207}</string>
            </dict>
            <key>A003_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{154,110}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{154,110}}</string>
                <key>sourceSize</key>
                <string>{154,110}</string>
            </dict>
            <key>A003_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,348},{127,122}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{127,122}}</string>
                <key>sourceSize</key>
                <string>{127,122}</string>
            </dict>
            <key>A003_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{143,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,207}}</string>
                <key>sourceSize</key>
                <string>{143,207}</string>
            </dict>
            <key>A003_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,111},{110,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,98}}</string>
                <key>sourceSize</key>
                <string>{110,98}</string>
            </dict>
            <key>A003_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{51,35}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>A003_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A003_attacks.png</string>
            <key>size</key>
            <string>{509,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ac48f6f927b42d94218a97d6434df41$</string>
            <key>textureFileName</key>
            <string>A003_attacks.png</string>
        </dict>
    </dict>
</plist>
