<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A003_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{184,139}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{184,139}}</string>
                <key>sourceSize</key>
                <string>{184,139}</string>
            </dict>
            <key>A003_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,387},{184,121}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,121}}</string>
                <key>sourceSize</key>
                <string>{184,121}</string>
            </dict>
            <key>A003_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{184,105}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,105}}</string>
                <key>sourceSize</key>
                <string>{184,105}</string>
            </dict>
            <key>A003_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,125},{184,126}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,126}}</string>
                <key>sourceSize</key>
                <string>{184,126}</string>
            </dict>
            <key>A003_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{192,114}}</string>
                <key>sourceSize</key>
                <string>{192,114}</string>
            </dict>
            <key>A003_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,255},{184,131}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,131}}</string>
                <key>sourceSize</key>
                <string>{184,131}</string>
            </dict>
            <key>A003_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,252},{183,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,130}}</string>
                <key>sourceSize</key>
                <string>{183,130}</string>
            </dict>
            <key>A003_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{191,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,124}}</string>
                <key>sourceSize</key>
                <string>{191,124}</string>
            </dict>
            <key>A003_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,255},{137,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>A003_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{126,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>A003_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A003_rageskill.png</string>
            <key>size</key>
            <string>{512,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b7a5d3e9ca7f8cf28584ef0a8469465$</string>
            <key>textureFileName</key>
            <string>A003_rageskill.png</string>
        </dict>
    </dict>
</plist>
