<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A003_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,139}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{184,139}}</string>
                <key>sourceSize</key>
                <string>{184,139}</string>
            </dict>
            <key>A003_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{145,139}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{145,139}}</string>
                <key>sourceSize</key>
                <string>{145,139}</string>
            </dict>
            <key>A003_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A003_jump.png</string>
            <key>size</key>
            <string>{185,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdbbec474d94afecae83628fa0b4df89$</string>
            <key>textureFileName</key>
            <string>A003_jump.png</string>
        </dict>
    </dict>
</plist>
