<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A004_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,160}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>A004_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{93,158}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{93,158}}</string>
                <key>sourceSize</key>
                <string>{93,158}</string>
            </dict>
            <key>A004_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{131,154}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>A004_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,161},{153,153}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>A004_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,0},{154,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,100}}</string>
                <key>sourceSize</key>
                <string>{154,100}</string>
            </dict>
            <key>A004_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,315},{136,139}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{136,139}}</string>
                <key>sourceSize</key>
                <string>{136,139}</string>
            </dict>
            <key>A004_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,475},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>A004_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,475},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>A004_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{108,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{108,129}}</string>
                <key>sourceSize</key>
                <string>{108,129}</string>
            </dict>
            <key>A004_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,102},{66,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,100}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>A004_rageskill_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,203},{53,78}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>A004_rageskill_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{98,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>A004_rageskill_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,101},{62,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>A004_rageskill_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,475},{36,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>A004_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A004_rageskill.png</string>
            <key>size</key>
            <string>{463,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b421fa00b6870a9247e24ccfd62afc8$</string>
            <key>textureFileName</key>
            <string>A004_rageskill.png</string>
        </dict>
    </dict>
</plist>
