<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A004_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,195},{82,79}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>A004_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{100,160}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>A004_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,195},{143,250}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,250}}</string>
                <key>sourceSize</key>
                <string>{143,250}</string>
            </dict>
            <key>A004_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{197,319}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,319}}</string>
                <key>sourceSize</key>
                <string>{197,319}</string>
            </dict>
            <key>A004_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,320},{177,159}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{177,159}}</string>
                <key>sourceSize</key>
                <string>{177,159}</string>
            </dict>
            <key>A004_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{175,194}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{175,194}}</string>
                <key>sourceSize</key>
                <string>{175,194}</string>
            </dict>
            <key>A004_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A004_attacks.png</string>
            <key>size</key>
            <string>{454,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eabf9e296a0869d6ac42100e3161674$</string>
            <key>textureFileName</key>
            <string>A004_attacks.png</string>
        </dict>
    </dict>
</plist>
