<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A004_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,160}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>A004_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{112,157}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{112,157}}</string>
                <key>sourceSize</key>
                <string>{112,157}</string>
            </dict>
            <key>A004_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A004_jump.png</string>
            <key>size</key>
            <string>{214,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c43d4e9c6f7ecb8b41dfb42fabb833$</string>
            <key>textureFileName</key>
            <string>A004_jump.png</string>
        </dict>
    </dict>
</plist>
