<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HJ006_beattack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>HJ006_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,150}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{210,150}}</string>
                <key>sourceSize</key>
                <string>{210,150}</string>
            </dict>
            <key>HJ006_beattack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{189,147}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{189,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HJ006_beattack.png</string>
            <key>size</key>
            <string>{211,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd38f8888032dd0d52174965a348f07f$</string>
            <key>textureFileName</key>
            <string>HJ006_beattack.png</string>
        </dict>
    </dict>
</plist>
