<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HJ006_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>HJ006_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,0},{210,150}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{210,150}}</string>
                <key>sourceSize</key>
                <string>{210,150}</string>
            </dict>
            <key>HJ006_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{276,251}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,251}}</string>
                <key>sourceSize</key>
                <string>{276,251}</string>
            </dict>
            <key>HJ006_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,252},{265,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,170}}</string>
                <key>sourceSize</key>
                <string>{265,170}</string>
            </dict>
            <key>HJ006_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{238,226}}</string>
                <key>offset</key>
                <string>{56,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,54},{238,226}}</string>
                <key>sourceSize</key>
                <string>{238,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HJ006_attacks.png</string>
            <key>size</key>
            <string>{504,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aa2f056c8052ca8e26698157b73925e$</string>
            <key>textureFileName</key>
            <string>HJ006_attacks.png</string>
        </dict>
    </dict>
</plist>
