<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HZ002_beattack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>HZ002_beattack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,137}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{161,137}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>HZ002_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{146,127}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,127}}</string>
                <key>sourceSize</key>
                <string>{146,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HZ002_beattack.png</string>
            <key>size</key>
            <string>{162,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fcffed5790095fa9ec7a2af438c4126$</string>
            <key>textureFileName</key>
            <string>HZ002_beattack.png</string>
        </dict>
    </dict>
</plist>
