<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HZ002_block_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>HZ002_block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,137}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{161,137}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>HZ002_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{139,192}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{139,192}}</string>
                <key>sourceSize</key>
                <string>{139,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HZ002_block.png</string>
            <key>size</key>
            <string>{162,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba8a25a97e4640e9663608179e29d74$</string>
            <key>textureFileName</key>
            <string>HZ002_block.png</string>
        </dict>
    </dict>
</plist>
