<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HZ002_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>HZ002_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,137}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{161,137}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>HZ002_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{160,136}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,136}}</string>
                <key>sourceSize</key>
                <string>{160,136}</string>
            </dict>
            <key>HZ002_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{159,135}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{159,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HZ002_stand.png</string>
            <key>size</key>
            <string>{162,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2d3cc96676af8f05a03e5ef46e6325$</string>
            <key>textureFileName</key>
            <string>HZ002_stand.png</string>
        </dict>
    </dict>
</plist>
