<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>204_gfs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>204_gfs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,82},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,82},{40,15}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,82},{40,14}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,14}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>204_gfs_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,32},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,17},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,82},{42,15}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{44,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{46,17}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,17}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>204_gfs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,17}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,17}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>204_gfs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{44,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,15}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>204_gfs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,0},{42,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,17}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,82},{40,17}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,17}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>204_gfs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,42},{40,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,17}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>204_gfs.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dadcf63568ca9a608268bffee64ed063$</string>
            <key>textureFileName</key>
            <string>204_gfs.png</string>
        </dict>
    </dict>
</plist>
