<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>205_trsdly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>205_trsdly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{79,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{79,17}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,17}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{79,15}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,15}}</string>
                <key>sourceSize</key>
                <string>{89,25}</string>
            </dict>
            <key>205_trsdly_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{79,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,15}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{79,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,15}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,81},{79,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{81,19}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,19}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{81,20}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,20}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>205_trsdly_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,20}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{81,20}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>205_trsdly_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{79,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{79,18}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>205_trsdly_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,79},{79,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,17}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{79,19}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,19}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>205_trsdly_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{79,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,17}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>205_trsdly.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a10cb8bb32bc01809ac12d715bf5d94$</string>
            <key>textureFileName</key>
            <string>205_trsdly.png</string>
        </dict>
    </dict>
</plist>
