<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>206_ss_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>206_ss_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,66},{66,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,35}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{70,41}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{70,41}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>206_ss_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{70,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{70,39}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>206_ss_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,132},{68,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{68,37}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>206_ss_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{66,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,35}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{68,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,37}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{70,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{70,41}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,41}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,45},{72,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,43},{72,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>206_ss_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{74,47}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>206_ss_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{74,45}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,45}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>206_ss_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{72,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{72,43}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>206_ss.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8781811b2189449117fd08282c095f2$</string>
            <key>textureFileName</key>
            <string>206_ss.png</string>
        </dict>
    </dict>
</plist>
