<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>208_xyyj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>208_xyyj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,81},{53,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,66},{53,15}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,53},{53,15}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>208_xyyj_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{53,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,51},{53,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{53,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,0},{55,17}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{55,18}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,18}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>208_xyyj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{53,18}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{53,18}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>208_xyyj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,35},{53,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{53,17}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>208_xyyj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,34},{53,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,18},{53,17}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{53,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>208_xyyj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,17},{53,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>208_xyyj.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c985a4dbd8aad2806d755af12c786e3$</string>
            <key>textureFileName</key>
            <string>208_xyyj.png</string>
        </dict>
    </dict>
</plist>
