<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>210_hzzx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>210_hzzx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{54,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>210_hzzx_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{55,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{55,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>210_hzzx_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,74},{53,15}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>210_hzzx_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,74},{53,15}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>210_hzzx_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,37},{53,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,15}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>210_hzzx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{56,17}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>210_hzzx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{56,19}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,19}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>210_hzzx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,20}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,20}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>210_hzzx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,17},{56,20}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{56,20}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>210_hzzx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,37},{56,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,18}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>210_hzzx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{57,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>210_hzzx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,55},{55,19}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{55,19}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>210_hzzx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,73},{55,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{55,17}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>210_hzzx.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8440efd603699070c5deab4d2d16c8c0$</string>
            <key>textureFileName</key>
            <string>210_hzzx.png</string>
        </dict>
    </dict>
</plist>
