<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>213_hzzxNB_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>213_hzzxNB_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,98},{74,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,28}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>213_hzzxNB_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{80,53}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>213_hzzxNB_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,105},{78,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{78,40}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>213_hzzxNB_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,222},{76,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{76,30}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>213_hzzxNB_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,183},{76,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,39}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>213_hzzxNB_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{78,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>213_hzzxNB_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{83,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,49}</string>
            </dict>
            <key>213_hzzxNB_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{80,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,51}}</string>
                <key>sourceSize</key>
                <string>{82,51}</string>
            </dict>
            <key>213_hzzxNB_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,47},{80,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,51}}</string>
                <key>sourceSize</key>
                <string>{82,51}</string>
            </dict>
            <key>213_hzzxNB_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>213_hzzxNB_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,47},{82,51}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,51}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>213_hzzxNB_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{84,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{84,47}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>213_hzzxNB.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f633d6b9e67dfbb9014417f99ef86e9d$</string>
            <key>textureFileName</key>
            <string>213_hzzxNB.png</string>
        </dict>
    </dict>
</plist>
