<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>215_ayhjsNB_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>215_ayhjsNB_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{104,56}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,56}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>215_ayhjsNB_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,191},{106,64}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>215_ayhjsNB_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,255},{104,56}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{104,56}}</string>
                <key>sourceSize</key>
                <string>{122,72}</string>
            </dict>
            <key>215_ayhjsNB_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{104,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>215_ayhjsNB_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{105,57}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>215_ayhjsNB_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,131},{108,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>215_ayhjsNB_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{108,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>215_ayhjsNB_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{109,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,61}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>215_ayhjsNB_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,64}}</string>
                <key>sourceSize</key>
                <string>{111,64}</string>
            </dict>
            <key>215_ayhjsNB_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{110,65}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{122,73}</string>
            </dict>
            <key>215_ayhjsNB_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,65},{108,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>215_ayhjsNB_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{106,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>215_ayhjsNB.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e836f43af2a0cc722f3a58af36649d0f$</string>
            <key>textureFileName</key>
            <string>215_ayhjsNB.png</string>
        </dict>
    </dict>
</plist>
