<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>218_mrlx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>218_mrlx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,362},{138,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,105}}</string>
                <key>sourceSize</key>
                <string>{138,105}</string>
            </dict>
            <key>218_mrlx_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,339},{138,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{138,76}</string>
            </dict>
            <key>218_mrlx_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,222},{138,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,74}}</string>
                <key>sourceSize</key>
                <string>{138,74}</string>
            </dict>
            <key>218_mrlx_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{139,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,107}}</string>
                <key>sourceSize</key>
                <string>{139,107}</string>
            </dict>
            <key>218_mrlx_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>218_mrlx_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{153,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,84}}</string>
                <key>sourceSize</key>
                <string>{153,84}</string>
            </dict>
            <key>218_mrlx_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,80}}</string>
                <key>sourceSize</key>
                <string>{158,80}</string>
            </dict>
            <key>218_mrlx_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{151,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,79}</string>
            </dict>
            <key>218_mrlx_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,224},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>218_mrlx_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,362},{138,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,65}}</string>
                <key>sourceSize</key>
                <string>{138,65}</string>
            </dict>
            <key>218_mrlx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,86},{138,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>218_mrlx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,84},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>218_mrlx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,213},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>218_mrlx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>218_mrlx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{138,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,84}}</string>
                <key>sourceSize</key>
                <string>{138,84}</string>
            </dict>
            <key>218_mrlx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,86},{138,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,80}}</string>
                <key>sourceSize</key>
                <string>{138,80}</string>
            </dict>
            <key>218_mrlx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,360},{138,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,72}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>218_mrlx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,222},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>218_mrlx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c21289db0dab59cf4d9d726cd070afd7$</string>
            <key>textureFileName</key>
            <string>218_mrlx.png</string>
        </dict>
    </dict>
</plist>
