<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>219_zcws_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>219_zcws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,292},{90,76}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{90,76}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{112,106}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{112,106}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{112,98}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,98}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{112,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,96}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,106},{112,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,96}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,98},{112,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,96}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,202},{98,86}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{98,86}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,290},{98,86}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{98,86}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,388},{94,82}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{94,82}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,202},{90,76}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{90,76}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{96,82}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{96,82}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{102,86}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{102,86}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,402},{100,86}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{100,86}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{112,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,96}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,194},{112,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,96}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,106},{112,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,96}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{112,106}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{112,106}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>219_zcws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,110}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{112,110}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>219_zcws.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371b1633220e8e45501bf1eb468a5edc$</string>
            <key>textureFileName</key>
            <string>219_zcws.png</string>
        </dict>
    </dict>
</plist>
