<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>220_xsj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>220_xsj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,247},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>220_xsj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,130},{115,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,90}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>220_xsj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,288},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>220_xsj_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{131,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,58}</string>
            </dict>
            <key>220_xsj_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{145,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,55}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>220_xsj_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,408},{82,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,29}}</string>
                <key>sourceSize</key>
                <string>{82,29}</string>
            </dict>
            <key>220_xsj_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,130},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>220_xsj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>220_xsj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,301},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,78}}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>220_xsj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,288},{111,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>220_xsj_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>220_xsj_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,149}}</string>
                <key>sourceSize</key>
                <string>{85,149}</string>
            </dict>
            <key>220_xsj_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,153},{74,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,133}}</string>
                <key>sourceSize</key>
                <string>{74,133}</string>
            </dict>
            <key>220_xsj_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>220_xsj_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,401},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>220_xsj_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,130},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>220_xsj_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,130},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>220_xsj_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,224},{57,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,44}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>220_xsj_610.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{111,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,54}</string>
            </dict>
            <key>220_xsj_611.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,288},{118,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,78}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>220_xsj_612.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{126,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,77}}</string>
                <key>sourceSize</key>
                <string>{126,77}</string>
            </dict>
            <key>220_xsj_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,48}</string>
            </dict>
            <key>220_xsj_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,103},{99,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,45}}</string>
                <key>sourceSize</key>
                <string>{99,45}</string>
            </dict>
            <key>220_xsj_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,109},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,46}</string>
            </dict>
            <key>220_xsj_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,109},{105,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,52}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>
            </dict>
            <key>220_xsj_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,442},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>220_xsj_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{110,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,53}}</string>
                <key>sourceSize</key>
                <string>{110,53}</string>
            </dict>
            <key>220_xsj_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,114},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>220_xsj_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,224},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,54}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>220_xsj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2289fea987ab3ed4d43a2a07aadc0221:1/1$</string>
            <key>textureFileName</key>
            <string>220_xsj.png</string>
        </dict>
    </dict>
</plist>
