<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>221_gjtx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>221_gjtx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{126,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,96}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>221_gjtx_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{108,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>221_gjtx_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{126,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>221_gjtx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,99},{152,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,99}</string>
            </dict>
            <key>221_gjtx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,95}}</string>
                <key>sourceSize</key>
                <string>{178,99}</string>
            </dict>
            <key>221_gjtx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,95}}</string>
                <key>sourceSize</key>
                <string>{178,99}</string>
            </dict>
            <key>221_gjtx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{152,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,99}</string>
            </dict>
            <key>221_gjtx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,104},{126,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,96}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>221_gjtx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,196},{108,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>221_gjtx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,396},{103,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>221_gjtx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{105,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>221_gjtx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e916c0d2ffdb220fac9a8629fd89929:1/1$</string>
            <key>textureFileName</key>
            <string>221_gjtx.png</string>
        </dict>
    </dict>
</plist>
