<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>224_bwlr_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,109},{108,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,42}}</string>
                <key>sourceSize</key>
                <string>{108,42}</string>
            </dict>
            <key>224_bwlr_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{115,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{115,95}}</string>
                <key>sourceSize</key>
                <string>{121,109}</string>
            </dict>
            <key>224_bwlr_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{158,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{158,95}}</string>
                <key>sourceSize</key>
                <string>{164,109}</string>
            </dict>
            <key>224_bwlr_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,204},{118,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,109}}</string>
                <key>sourceSize</key>
                <string>{118,109}</string>
            </dict>
            <key>224_bwlr_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,327},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>224_bwlr_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,109},{118,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,109}}</string>
                <key>sourceSize</key>
                <string>{118,109}</string>
            </dict>
            <key>224_bwlr_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>224_bwlr_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>224_bwlr_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,95},{143,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,109}}</string>
                <key>sourceSize</key>
                <string>{143,109}</string>
            </dict>
            <key>224_bwlr_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{151,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,109}}</string>
                <key>sourceSize</key>
                <string>{151,109}</string>
            </dict>
            <key>224_bwlr_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,109}}</string>
                <key>sourceSize</key>
                <string>{166,109}</string>
            </dict>
            <key>224_bwlri_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>224_bwlr.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47138ad097cf00419ff4a1edcf664257$</string>
            <key>textureFileName</key>
            <string>224_bwlr.png</string>
        </dict>
    </dict>
</plist>
