<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengshiguanlirenyuan_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,16}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>chengshiguanlirenyuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{80,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,14}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>chengshiguanlirenyuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{80,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{80,18}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>chengshiguanlirenyuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{82,19}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,19}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>chengshiguanlirenyuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{82,19}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{82,19}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>chengshiguanlirenyuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{82,21}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{82,21}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>chengshiguanlirenyuan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{80,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,19}}</string>
                <key>sourceSize</key>
                <string>{90,29}</string>
            </dict>
            <key>chengshiguanlirenyuan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{80,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,14}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>chengshiguanlirenyuan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{80,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,14}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>chengshiguanlirenyuan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{80,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,14}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>chengshiguanlirenyuan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{80,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,14}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengshiguanlirenyuan.png</string>
            <key>size</key>
            <string>{86,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be80d16d62f3297bb5f1b9d57a6ca75$</string>
            <key>textureFileName</key>
            <string>chengshiguanlirenyuan.png</string>
        </dict>
    </dict>
</plist>
