<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dhzqd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>dhzqd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,405},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>dhzqd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,434},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>dhzqd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,464},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>dhzqd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,314},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>dhzqd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,128}}</string>
                <key>sourceSize</key>
                <string>{109,128}</string>
            </dict>
            <key>dhzqd_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,314},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>dhzqd_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{91,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,5}}</string>
                <key>sourceSize</key>
                <string>{91,5}</string>
            </dict>
            <key>dhzqd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{109,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,92}}</string>
                <key>sourceSize</key>
                <string>{109,92}</string>
            </dict>
            <key>dhzqd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>dhzqd_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>dhzqd_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>dhzqd_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,104},{116,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,110}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>dhzqd_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,214},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>dhzqd_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,305},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,106}</string>
            </dict>
            <key>dhzqd_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,389},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>dhzqd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,405},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,24}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>dhzqd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,213},{49,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,18}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>dhzqd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,214},{57,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{59,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dhzqd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d789263af9b07d3cb87757b87399c01$</string>
            <key>textureFileName</key>
            <string>dhzqd.png</string>
        </dict>
    </dict>
</plist>
