<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{149,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{147,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{147,24}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{147,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{147,26}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{147,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{147,24}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{147,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{147,24}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{147,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{147,24}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>fengsha17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{147,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{147,22}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengsha.png</string>
            <key>size</key>
            <string>{153,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0296102817992d70fc391b12aebe128$</string>
            <key>textureFileName</key>
            <string>fengsha.png</string>
        </dict>
    </dict>
</plist>
