<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,23}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{60,23}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,27},{60,23}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,23}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>gaofushuai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{60,23}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,23}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>gaofushuai06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,52},{60,21}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>gaofushuai07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai08.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,77},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,100},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,123},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,146},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai16.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,169},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gaofushuai17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{60,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,21}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaofushuai.png</string>
            <key>size</key>
            <string>{126,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75aad17bd39b514ed3f4b5bd738d078$</string>
            <key>textureFileName</key>
            <string>gaofushuai.png</string>
        </dict>
    </dict>
</plist>
