<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dingwei_guanjue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{138,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,51}}</string>
			<key>sourceSize</key>
			<string>{138,51}</string>
		</dict>
		<key>guanjue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,55},{138,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,51}}</string>
			<key>sourceSize</key>
			<string>{138,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>guanjue.png</string>
		<key>size</key>
		<string>{142,108}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0ad3b63964591c02ed622f85223e29df$</string>
		<key>textureFileName</key>
		<string>guanjue.png</string>
	</dict>
</dict>
</plist>
