<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haiziwang_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{42,15}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{44,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,19},{44,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{45,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,17}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>haiziwang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,38},{47,17}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,17}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>haiziwang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{45,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{45,15}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>haiziwang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,57},{43,17}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,17}}</string>
                <key>sourceSize</key>
                <string>{51,23}</string>
            </dict>
            <key>haiziwang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{40,14}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,14}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>haiziwang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,76},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,76},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>haiziwang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,93},{40,15}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,15}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haiziwang.png</string>
            <key>size</key>
            <string>{128,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371cfd290ebc4f0c386e917e40d4859e$</string>
            <key>textureFileName</key>
            <string>haiziwang.png</string>
        </dict>
    </dict>
</plist>
