<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{126,24}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{126,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{126,26}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{126,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{126,26}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{126,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{126,26}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{126,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{126,28}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>taru06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{126,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,24}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>taru07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>taru17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{126,22}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taru.png</string>
            <key>size</key>
            <string>{130,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31aa13c7c52a4ac58a7894ec993f4208$</string>
            <key>textureFileName</key>
            <string>taru.png</string>
        </dict>
    </dict>
</plist>
