<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dingwei_tianxia.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,62}}</string>
			<key>sourceSize</key>
			<string>{97,62}</string>
		</dict>
		<key>tianxia01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,66},{97,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,62}}</string>
			<key>sourceSize</key>
			<string>{97,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tianxia.png</string>
		<key>size</key>
		<string>{101,130}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d77cb2c2198b493402ac65da503a99f2$</string>
		<key>textureFileName</key>
		<string>tianxia.png</string>
	</dict>
</dict>
</plist>
