<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{82,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,26},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,26},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,52},{82,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,52},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,80},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,80},{82,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{82,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,106},{82,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,106},{82,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{82,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiangche16.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,134},{82,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,25}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
            <key>xiangche17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,134},{82,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{82,25}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiangche.png</string>
            <key>size</key>
            <string>{254,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dbf96fdb09cb11284a05c07b71d62ac$</string>
            <key>textureFileName</key>
            <string>xiangche.png</string>
        </dict>
    </dict>
</plist>
