<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{84,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,28},{84,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{84,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{84,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{84,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,54},{84,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{84,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{84,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{84,26}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,82},{84,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{84,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,110},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,134},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,158},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji15.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,182},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xingyunyiji17.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,206},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,22}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingyunyiji.png</string>
            <key>size</key>
            <string>{174,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:488d65b7e66e13ed90c4d6b531d41e6c$</string>
            <key>textureFileName</key>
            <string>xingyunyiji.png</string>
        </dict>
    </dict>
</plist>
