<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dingwei_youling.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{124,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,49}}</string>
			<key>sourceSize</key>
			<string>{124,49}</string>
		</dict>
		<key>youling_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,53},{124,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,49}}</string>
			<key>sourceSize</key>
			<string>{124,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>youling.png</string>
		<key>size</key>
		<string>{128,104}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e47df2956e2ec36dc5a7d17f7ca3108b$</string>
		<key>textureFileName</key>
		<string>youling.png</string>
	</dict>
</dict>
</plist>
