<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangjiantou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>shangjiantou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shngjiantou.png</string>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc805ef51c36f4e6cc6146d5e0395b43$</string>
            <key>textureFileName</key>
            <string>shngjiantou.png</string>
        </dict>
    </dict>
</plist>
