<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>treeEffectUp1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>treeEffectUp1_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{72,670}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,670}}</string>
			<key>sourceSize</key>
			<string>{72,670}</string>
		</dict>
		<key>treeEffectUp1_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,0},{147,485}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,485}}</string>
			<key>sourceSize</key>
			<string>{147,485}</string>
		</dict>
		<key>treeEffectUp1_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,892},{225,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,116}}</string>
			<key>sourceSize</key>
			<string>{225,116}</string>
		</dict>
		<key>treeEffectUp1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,892},{214,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,100}}</string>
			<key>sourceSize</key>
			<string>{214,100}</string>
		</dict>
		<key>treeEffectUp1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,892},{81,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,38}}</string>
			<key>sourceSize</key>
			<string>{81,38}</string>
		</dict>
		<key>treeEffectUp1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,485},{165,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,116}}</string>
			<key>sourceSize</key>
			<string>{165,116}</string>
		</dict>
		<key>treeEffectUp1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,670},{222,443}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,443}}</string>
			<key>sourceSize</key>
			<string>{222,443}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>treeEffectUp1.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:63d070bd0a6c88b08f3dbba724982034$</string>
		<key>textureFileName</key>
		<string>treeEffectUp1.png</string>
	</dict>
</dict>
</plist>
