<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_19_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,256},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>npc_19_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{51,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,125}}</string>
			<key>sourceSize</key>
			<string>{51,125}</string>
		</dict>
		<key>npc_19_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,126},{50,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,126}}</string>
			<key>sourceSize</key>
			<string>{50,126}</string>
		</dict>
		<key>npc_19_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,126},{49,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,127}}</string>
			<key>sourceSize</key>
			<string>{49,127}</string>
		</dict>
		<key>npc_19_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,0},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>npc_19_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,0},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>npc_19_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,37},{31,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,36}}</string>
			<key>sourceSize</key>
			<string>{31,36}</string>
		</dict>
		<key>npc_19_stand_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,253},{13,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,3}}</string>
			<key>sourceSize</key>
			<string>{13,3}</string>
		</dict>
		<key>npc_19_stand_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,254},{13,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,2}}</string>
			<key>sourceSize</key>
			<string>{13,2}</string>
		</dict>
		<key>npc_19_stand_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,254},{13,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,1}}</string>
			<key>sourceSize</key>
			<string>{13,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_19_stand.png</string>
		<key>size</key>
		<string>{117,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:39d34da99a563b454c222519499772fa$</string>
		<key>textureFileName</key>
		<string>npc_19_stand.png</string>
	</dict>
</dict>
</plist>
