<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_20_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,254},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>npc_20_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,127},{75,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,126}}</string>
			<key>sourceSize</key>
			<string>{75,126}</string>
		</dict>
		<key>npc_20_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{75,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,126}}</string>
			<key>sourceSize</key>
			<string>{75,126}</string>
		</dict>
		<key>npc_20_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,0},{75,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,125}}</string>
			<key>sourceSize</key>
			<string>{75,125}</string>
		</dict>
		<key>npc_20_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,126},{75,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,103}}</string>
			<key>sourceSize</key>
			<string>{75,103}</string>
		</dict>
		<key>npc_20_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,31},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>npc_20_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,0},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>npc_20_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,0},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>npc_20_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,0},{30,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,33}}</string>
			<key>sourceSize</key>
			<string>{30,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_20_stand.png</string>
		<key>size</key>
		<string>{246,254}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1739e673d9ca4c0b10475e5a23152ce1$</string>
		<key>textureFileName</key>
		<string>npc_20_stand.png</string>
	</dict>
</dict>
</plist>
