<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_42_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,116},{41,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,115}}</string>
			<key>sourceSize</key>
			<string>{41,115}</string>
		</dict>
		<key>npc_42_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,116},{43,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,115}}</string>
			<key>sourceSize</key>
			<string>{43,115}</string>
		</dict>
		<key>npc_42_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,0},{43,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,115}}</string>
			<key>sourceSize</key>
			<string>{43,115}</string>
		</dict>
		<key>npc_42_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,116},{41,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,115}}</string>
			<key>sourceSize</key>
			<string>{41,115}</string>
		</dict>
		<key>npc_42_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,116},{41,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,115}}</string>
			<key>sourceSize</key>
			<string>{41,115}</string>
		</dict>
		<key>npc_42_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,0},{43,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,115}}</string>
			<key>sourceSize</key>
			<string>{43,115}</string>
		</dict>
		<key>npc_42_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,0},{43,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,115}}</string>
			<key>sourceSize</key>
			<string>{43,115}</string>
		</dict>
		<key>npc_42_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,0},{43,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,115}}</string>
			<key>sourceSize</key>
			<string>{43,115}</string>
		</dict>
		<key>npc_42_stand_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,116},{41,115}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,115}}</string>
			<key>sourceSize</key>
			<string>{41,115}</string>
		</dict>
		<key>npc_42_stand_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,116},{41,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,115}}</string>
			<key>sourceSize</key>
			<string>{41,115}</string>
		</dict>
		<key>npc_42_stand_191.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{43,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,115}}</string>
			<key>sourceSize</key>
			<string>{43,115}</string>
		</dict>
		<key>npc_42_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_42_stand.png</string>
		<key>size</key>
		<string>{253,231}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d84ff0a09da96cacbcee775bf619aeaf$</string>
		<key>textureFileName</key>
		<string>npc_42_stand.png</string>
	</dict>
</dict>
</plist>
