<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_28_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{97,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,138}}</string>
			<key>sourceSize</key>
			<string>{97,138}</string>
		</dict>
		<key>npc_28_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,139},{98,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,137}}</string>
			<key>sourceSize</key>
			<string>{98,137}</string>
		</dict>
		<key>npc_28_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,139},{93,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,138}}</string>
			<key>sourceSize</key>
			<string>{93,138}</string>
		</dict>
		<key>npc_28_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,278},{88,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,138}}</string>
			<key>sourceSize</key>
			<string>{88,138}</string>
		</dict>
		<key>npc_28_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,0},{86,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,137}}</string>
			<key>sourceSize</key>
			<string>{86,137}</string>
		</dict>
		<key>npc_28_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{86,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,137}}</string>
			<key>sourceSize</key>
			<string>{86,137}</string>
		</dict>
		<key>npc_28_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,278},{88,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,138}}</string>
			<key>sourceSize</key>
			<string>{88,138}</string>
		</dict>
		<key>npc_28_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,417},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_28_stand.png</string>
		<key>size</key>
		<string>{271,417}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:451b93115c8e3951eab4354db6bc21f8$</string>
		<key>textureFileName</key>
		<string>npc_28_stand.png</string>
	</dict>
</dict>
</plist>
