<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_24_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,369},{73,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,122}}</string>
			<key>sourceSize</key>
			<string>{73,122}</string>
		</dict>
		<key>npc_24_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,0},{77,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,119}}</string>
			<key>sourceSize</key>
			<string>{77,119}</string>
		</dict>
		<key>npc_24_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,121},{75,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,121}}</string>
			<key>sourceSize</key>
			<string>{75,121}</string>
		</dict>
		<key>npc_24_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,120},{75,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,121}}</string>
			<key>sourceSize</key>
			<string>{75,121}</string>
		</dict>
		<key>npc_24_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{81,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{81,120}}</string>
			<key>sourceSize</key>
			<string>{81,120}</string>
		</dict>
		<key>npc_24_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,242},{74,126}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{74,126}}</string>
			<key>sourceSize</key>
			<string>{74,126}</string>
		</dict>
		<key>npc_24_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,369},{71,128}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{71,128}}</string>
			<key>sourceSize</key>
			<string>{71,128}</string>
		</dict>
		<key>npc_24_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,119},{76,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,123}}</string>
			<key>sourceSize</key>
			<string>{76,123}</string>
		</dict>
		<key>npc_24_stand_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,243},{73,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,125}}</string>
			<key>sourceSize</key>
			<string>{73,125}</string>
		</dict>
		<key>npc_24_stand_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{77,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,118}}</string>
			<key>sourceSize</key>
			<string>{77,118}</string>
		</dict>
		<key>npc_24_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_24_stand.png</string>
		<key>size</key>
		<string>{238,497}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7db3a81f762057b12e7615e976fa5281$</string>
		<key>textureFileName</key>
		<string>npc_24_stand.png</string>
	</dict>
</dict>
</plist>
