<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_33_stand_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,282},{58,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,140}}</string>
			<key>sourceSize</key>
			<string>{58,140}</string>
		</dict>
		<key>npc_33_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,141},{58,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,140}}</string>
			<key>sourceSize</key>
			<string>{58,140}</string>
		</dict>
		<key>npc_33_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,141},{58,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,140}}</string>
			<key>sourceSize</key>
			<string>{58,140}</string>
		</dict>
		<key>npc_33_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,0},{58,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,140}}</string>
			<key>sourceSize</key>
			<string>{58,140}</string>
		</dict>
		<key>npc_33_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{58,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,140}}</string>
			<key>sourceSize</key>
			<string>{58,140}</string>
		</dict>
		<key>npc_33_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,282},{48,29}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{48,29}}</string>
			<key>sourceSize</key>
			<string>{48,29}</string>
		</dict>
		<key>npc_33_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,0},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>npc_33_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,299},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>npc_33_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,282},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>npc_33_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_33_stand.png</string>
		<key>size</key>
		<string>{126,422}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:64c4ebc33d80419b7a794c6131e5f5d1$</string>
		<key>textureFileName</key>
		<string>npc_33_stand.png</string>
	</dict>
</dict>
</plist>
