<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_12_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,131},{48,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,129}}</string>
			<key>sourceSize</key>
			<string>{48,129}</string>
		</dict>
		<key>npc_12_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,131},{48,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,129}}</string>
			<key>sourceSize</key>
			<string>{48,129}</string>
		</dict>
		<key>npc_12_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,131},{48,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,129}}</string>
			<key>sourceSize</key>
			<string>{48,129}</string>
		</dict>
		<key>npc_12_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,262},{49,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,130}}</string>
			<key>sourceSize</key>
			<string>{49,130}</string>
		</dict>
		<key>npc_12_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,262},{52,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,130}}</string>
			<key>sourceSize</key>
			<string>{52,130}</string>
		</dict>
		<key>npc_12_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,131},{61,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,130}}</string>
			<key>sourceSize</key>
			<string>{61,130}</string>
		</dict>
		<key>npc_12_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,0},{79,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,130}}</string>
			<key>sourceSize</key>
			<string>{79,130}</string>
		</dict>
		<key>npc_12_stand_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{79,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,130}}</string>
			<key>sourceSize</key>
			<string>{79,130}</string>
		</dict>
		<key>npc_12_stand_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{78,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,130}}</string>
			<key>sourceSize</key>
			<string>{78,130}</string>
		</dict>
		<key>npc_12_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_12_stand.png</string>
		<key>size</key>
		<string>{239,392}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c890e80645f169e7b6098f567015d4f7$</string>
		<key>textureFileName</key>
		<string>npc_12_stand.png</string>
	</dict>
</dict>
</plist>
