<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_40_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,0},{46,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,117}}</string>
			<key>sourceSize</key>
			<string>{46,117}</string>
		</dict>
		<key>npc_40_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,0},{40,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,113}}</string>
			<key>sourceSize</key>
			<string>{40,113}</string>
		</dict>
		<key>npc_40_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,0},{40,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,113}}</string>
			<key>sourceSize</key>
			<string>{40,113}</string>
		</dict>
		<key>npc_40_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,0},{45,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,117}}</string>
			<key>sourceSize</key>
			<string>{45,117}</string>
		</dict>
		<key>npc_40_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,0},{43,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,117}}</string>
			<key>sourceSize</key>
			<string>{43,117}</string>
		</dict>
		<key>npc_40_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,0},{43,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,117}}</string>
			<key>sourceSize</key>
			<string>{43,117}</string>
		</dict>
		<key>npc_40_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,0},{43,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,117}}</string>
			<key>sourceSize</key>
			<string>{43,117}</string>
		</dict>
		<key>npc_40_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,0},{43,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,117}}</string>
			<key>sourceSize</key>
			<string>{43,117}</string>
		</dict>
		<key>npc_40_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,0},{46,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,117}}</string>
			<key>sourceSize</key>
			<string>{46,117}</string>
		</dict>
		<key>npc_40_stand_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{46,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,117}}</string>
			<key>sourceSize</key>
			<string>{46,117}</string>
		</dict>
		<key>npc_40_stand_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,0},{43,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{43,117}}</string>
			<key>sourceSize</key>
			<string>{43,117}</string>
		</dict>
		<key>npc_40_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,118},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_40_stand.png</string>
		<key>size</key>
		<string>{488,118}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ae2d66be6cc7b80c577c727ad9666756$</string>
		<key>textureFileName</key>
		<string>npc_40_stand.png</string>
	</dict>
</dict>
</plist>
