<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_29_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,121},{51,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,120}}</string>
			<key>sourceSize</key>
			<string>{51,120}</string>
		</dict>
		<key>npc_29_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,0},{51,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,120}}</string>
			<key>sourceSize</key>
			<string>{51,120}</string>
		</dict>
		<key>npc_29_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,121},{51,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,120}}</string>
			<key>sourceSize</key>
			<string>{51,120}</string>
		</dict>
		<key>npc_29_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,0},{48,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,120}}</string>
			<key>sourceSize</key>
			<string>{48,120}</string>
		</dict>
		<key>npc_29_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,121},{46,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,120}}</string>
			<key>sourceSize</key>
			<string>{46,120}</string>
		</dict>
		<key>npc_29_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{51,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,120}}</string>
			<key>sourceSize</key>
			<string>{51,120}</string>
		</dict>
		<key>npc_29_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,242},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_29_stand.png</string>
		<key>size</key>
		<string>{152,242}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f0ab237532a82df17ae36d5d74ab4ce7$</string>
		<key>textureFileName</key>
		<string>npc_29_stand.png</string>
	</dict>
</dict>
</plist>
