<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_44_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_110.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,2},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_111.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_112.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,2},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_113.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,2},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_114.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,2},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_115.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,137},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_116.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,137},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_117.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,137},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,137},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,137},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,137},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,272},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,272},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,272},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,272},{82,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,133}}</string>
			<key>sourceSize</key>
			<string>{88,135}</string>
		</dict>
		<key>npc_44_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,272},{10,9}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{10,9}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>npc_44_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,272},{12,11}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>npc_44_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,272},{20,19}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>npc_44_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,272},{26,23}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{26,23}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>npc_44_stand_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,407},{31,29}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>npc_44_stand_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,407},{20,18}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{20,18}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>npc_44_stand_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,407},{14,12}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,12}}</string>
			<key>sourceSize</key>
			<string>{18,22}</string>
		</dict>
		<key>npc_44_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,407},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_44_stand.png</string>
		<key>size</key>
		<string>{506,438}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1322f70801eb1e5f556c3ea699134518$</string>
		<key>textureFileName</key>
		<string>npc_44_stand.png</string>
	</dict>
</dict>
</plist>
