<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_49_stand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,469},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>npc_49_stand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,469},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>npc_49_stand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{21,42}</string>
            </dict>
            <key>npc_49_stand_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,499},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>npc_49_stand_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,469},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>npc_49_stand_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,484},{11,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,47}}</string>
                <key>sourceSize</key>
                <string>{11,47}</string>
            </dict>
            <key>npc_49_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,260},{53,130}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{67,130}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,130},{65,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,260},{63,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,130},{63,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,260},{63,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,260},{65,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,130},{65,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{61,130}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,130},{53,130}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,260},{53,130}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,0},{53,130}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{73,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{53,132}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,132}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,130},{53,130}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{57,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,455},{57,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,449},{59,130}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,390},{59,130}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,390},{65,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{57,130}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{57,132}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,132}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,132}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,132}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,130},{57,130}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{65,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,264},{67,130}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,130}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>npc_49_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,469},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>npc_49_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,503},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>npc_49_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,503},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>npc_49_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_49_stand.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a563fa1b00fd0ba9ec70e3414fbbb851$</string>
            <key>textureFileName</key>
            <string>npc_49_stand.png</string>
        </dict>
    </dict>
</plist>
