<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_46_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{79,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{67,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{67,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{67,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{67,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{69,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{69,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{69,127}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{69,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,131},{67,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,131},{67,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{67,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,131},{77,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,131},{77,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,131},{77,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,127}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>npc_46_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,131},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_46_stand.png</string>
            <key>size</key>
            <string>{499,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c515c0fe85853642d507eed09314a19$</string>
            <key>textureFileName</key>
            <string>npc_46_stand.png</string>
        </dict>
    </dict>
</plist>
