<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_37_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{57,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{57,132}}</string>
			<key>sourceSize</key>
			<string>{57,132}</string>
		</dict>
		<key>npc_37_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,266},{57,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{57,132}}</string>
			<key>sourceSize</key>
			<string>{57,132}</string>
		</dict>
		<key>npc_37_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,266},{57,132}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{57,132}}</string>
			<key>sourceSize</key>
			<string>{57,132}</string>
		</dict>
		<key>npc_37_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,133},{57,132}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{57,132}}</string>
			<key>sourceSize</key>
			<string>{57,132}</string>
		</dict>
		<key>npc_37_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,133},{57,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{57,132}}</string>
			<key>sourceSize</key>
			<string>{57,132}</string>
		</dict>
		<key>npc_37_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{63,132}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{63,132}}</string>
			<key>sourceSize</key>
			<string>{63,132}</string>
		</dict>
		<key>npc_37_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_37_stand.png</string>
		<key>size</key>
		<string>{122,398}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fe6b4f583d1e5f7133ca85d5129a272e$</string>
		<key>textureFileName</key>
		<string>npc_37_stand.png</string>
	</dict>
</dict>
</plist>
