<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_32_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,245},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>npc_32_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,105},{64,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,104}}</string>
			<key>sourceSize</key>
			<string>{64,104}</string>
		</dict>
		<key>npc_32_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,0},{64,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,104}}</string>
			<key>sourceSize</key>
			<string>{64,104}</string>
		</dict>
		<key>npc_32_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,0},{70,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,104}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>npc_32_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,105},{74,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,104}}</string>
			<key>sourceSize</key>
			<string>{74,104}</string>
		</dict>
		<key>npc_32_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,105},{83,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,104}}</string>
			<key>sourceSize</key>
			<string>{83,104}</string>
		</dict>
		<key>npc_32_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{86,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,104}}</string>
			<key>sourceSize</key>
			<string>{86,104}</string>
		</dict>
		<key>npc_32_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,210},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>npc_32_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,210},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>npc_32_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,210},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>npc_32_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,210},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>npc_32_stand_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,210},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_32_stand.png</string>
		<key>size</key>
		<string>{223,245}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3d07ab78808eb612d7a488a468dad412$</string>
		<key>textureFileName</key>
		<string>npc_32_stand.png</string>
	</dict>
</dict>
</plist>
