<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_26_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,262},{46,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,130}}</string>
			<key>sourceSize</key>
			<string>{46,130}</string>
		</dict>
		<key>npc_26_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,131},{46,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,130}}</string>
			<key>sourceSize</key>
			<string>{46,130}</string>
		</dict>
		<key>npc_26_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,0},{17,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,19}}</string>
			<key>sourceSize</key>
			<string>{17,19}</string>
		</dict>
		<key>npc_26_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,20},{17,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,14}}</string>
			<key>sourceSize</key>
			<string>{17,14}</string>
		</dict>
		<key>npc_26_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,414},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>npc_26_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,393},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>npc_26_stand_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,393},{20,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,21}}</string>
			<key>sourceSize</key>
			<string>{20,21}</string>
		</dict>
		<key>npc_26_stand_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,393},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>npc_26_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{46,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,130}}</string>
			<key>sourceSize</key>
			<string>{46,130}</string>
		</dict>
		<key>npc_26_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,35},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_26_stand.png</string>
		<key>size</key>
		<string>{64,431}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3661115028cb28686cd105adbf462ae0$</string>
		<key>textureFileName</key>
		<string>npc_26_stand.png</string>
	</dict>
</dict>
</plist>
