<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_30_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,262},{49,130}}</string>
			<key>offset</key>
			<string>{-8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{49,130}}</string>
			<key>sourceSize</key>
			<string>{49,130}</string>
		</dict>
		<key>npc_30_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,131},{49,130}}</string>
			<key>offset</key>
			<string>{-8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{49,130}}</string>
			<key>sourceSize</key>
			<string>{49,130}</string>
		</dict>
		<key>npc_30_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,131},{49,130}}</string>
			<key>offset</key>
			<string>{-8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{49,130}}</string>
			<key>sourceSize</key>
			<string>{49,130}</string>
		</dict>
		<key>npc_30_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,131},{49,130}}</string>
			<key>offset</key>
			<string>{-8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{49,130}}</string>
			<key>sourceSize</key>
			<string>{49,130}</string>
		</dict>
		<key>npc_30_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,131},{49,130}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{49,130}}</string>
			<key>sourceSize</key>
			<string>{49,130}</string>
		</dict>
		<key>npc_30_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,0},{67,130}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{67,130}}</string>
			<key>sourceSize</key>
			<string>{67,130}</string>
		</dict>
		<key>npc_30_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,262},{53,130}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{53,130}}</string>
			<key>sourceSize</key>
			<string>{53,130}</string>
		</dict>
		<key>npc_30_stand_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,0},{69,130}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{69,130}}</string>
			<key>sourceSize</key>
			<string>{69,130}</string>
		</dict>
		<key>npc_30_stand_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{69,130}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{69,130}}</string>
			<key>sourceSize</key>
			<string>{69,130}</string>
		</dict>
		<key>npc_30_stand_190.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,131},{53,130}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{53,130}}</string>
			<key>sourceSize</key>
			<string>{53,130}</string>
		</dict>
		<key>npc_30_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_30_stand.png</string>
		<key>size</key>
		<string>{253,392}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8e8094c911206172257f82792361088a$</string>
		<key>textureFileName</key>
		<string>npc_30_stand.png</string>
	</dict>
</dict>
</plist>
