<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_35_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,226},{61,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,89}}</string>
			<key>sourceSize</key>
			<string>{61,89}</string>
		</dict>
		<key>npc_35_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,136},{64,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,88}}</string>
			<key>sourceSize</key>
			<string>{64,88}</string>
		</dict>
		<key>npc_35_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,135},{106,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,135}}</string>
			<key>sourceSize</key>
			<string>{106,135}</string>
		</dict>
		<key>npc_35_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,0},{107,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,135}}</string>
			<key>sourceSize</key>
			<string>{107,135}</string>
		</dict>
		<key>npc_35_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{108,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,134}}</string>
			<key>sourceSize</key>
			<string>{108,134}</string>
		</dict>
		<key>npc_35_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,225},{64,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,86}}</string>
			<key>sourceSize</key>
			<string>{64,86}</string>
		</dict>
		<key>npc_35_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,136},{66,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,89}}</string>
			<key>sourceSize</key>
			<string>{66,89}</string>
		</dict>
		<key>npc_35_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,135},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_35_stand.png</string>
		<key>size</key>
		<string>{238,315}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:59d3484f29a4ec4c666c081959f8c801$</string>
		<key>textureFileName</key>
		<string>npc_35_stand.png</string>
	</dict>
</dict>
</plist>
