<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_21_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{39,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,102},{39,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,0},{39,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,102},{39,101}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,0},{39,101}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,102},{39,101}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{39,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{37,101}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{37,101}}</string>
			<key>sourceSize</key>
			<string>{37,101}</string>
		</dict>
		<key>npc_21_stand_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,102},{37,101}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{37,101}}</string>
			<key>sourceSize</key>
			<string>{37,101}</string>
		</dict>
		<key>npc_21_stand_190.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,102},{37,101}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{37,101}}</string>
			<key>sourceSize</key>
			<string>{37,101}</string>
		</dict>
		<key>npc_21_stand_191.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{39,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{39,101}}</string>
			<key>sourceSize</key>
			<string>{39,101}</string>
		</dict>
		<key>npc_21_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,204},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_21_stand.png</string>
		<key>size</key>
		<string>{197,204}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8376e63f723cfbc6ad46f3424e4c7321$</string>
		<key>textureFileName</key>
		<string>npc_21_stand.png</string>
	</dict>
</dict>
</plist>
