<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_27_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{73,129}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{73,129}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>npc_27_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,128},{73,127}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{73,127}}</string>
			<key>sourceSize</key>
			<string>{73,127}</string>
		</dict>
		<key>npc_27_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,0},{73,127}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{73,127}}</string>
			<key>sourceSize</key>
			<string>{73,127}</string>
		</dict>
		<key>npc_27_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,130},{75,125}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{75,125}}</string>
			<key>sourceSize</key>
			<string>{75,125}</string>
		</dict>
		<key>npc_27_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,256},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_27_stand.png</string>
		<key>size</key>
		<string>{149,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:01d00624355668dd9fc48bfa7e6fa0a5$</string>
		<key>textureFileName</key>
		<string>npc_27_stand.png</string>
	</dict>
</dict>
</plist>
