<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_13_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>npc_13_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,121},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>npc_13_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,0},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>npc_13_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,121},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>npc_13_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,0},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>npc_13_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,121},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>npc_13_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,242},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_13_stand.png</string>
		<key>size</key>
		<string>{200,242}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:784fc1516ff094d1ffee02bc3866d950$</string>
		<key>textureFileName</key>
		<string>npc_13_stand.png</string>
	</dict>
</dict>
</plist>
