<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_17_stand_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>npc_17_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,121},{65,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,120}}</string>
			<key>sourceSize</key>
			<string>{65,120}</string>
		</dict>
		<key>npc_17_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,121},{65,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,120}}</string>
			<key>sourceSize</key>
			<string>{65,120}</string>
		</dict>
		<key>npc_17_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,0},{65,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,120}}</string>
			<key>sourceSize</key>
			<string>{65,120}</string>
		</dict>
		<key>npc_17_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,0},{65,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,120}}</string>
			<key>sourceSize</key>
			<string>{65,120}</string>
		</dict>
		<key>npc_17_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{65,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,120}}</string>
			<key>sourceSize</key>
			<string>{65,120}</string>
		</dict>
		<key>npc_17_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,121},{65,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,66}}</string>
			<key>sourceSize</key>
			<string>{65,66}</string>
		</dict>
		<key>npc_17_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,142},{42,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,70}}</string>
			<key>sourceSize</key>
			<string>{42,70}</string>
		</dict>
		<key>npc_17_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,71},{42,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,70}}</string>
			<key>sourceSize</key>
			<string>{42,70}</string>
		</dict>
		<key>npc_17_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,0},{42,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,70}}</string>
			<key>sourceSize</key>
			<string>{42,70}</string>
		</dict>
		<key>npc_17_stand_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,188},{42,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,68}}</string>
			<key>sourceSize</key>
			<string>{42,68}</string>
		</dict>
		<key>npc_17_stand_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,213},{42,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,66}}</string>
			<key>sourceSize</key>
			<string>{42,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_17_stand.png</string>
		<key>size</key>
		<string>{241,279}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:395792df8c39fafdfb78d0d8eb59b0a0$</string>
		<key>textureFileName</key>
		<string>npc_17_stand.png</string>
	</dict>
</dict>
</plist>
