<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_41_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,143},{87,142}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{87,142}}</string>
			<key>sourceSize</key>
			<string>{87,142}</string>
		</dict>
		<key>npc_41_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,286},{89,142}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,142}}</string>
			<key>sourceSize</key>
			<string>{89,142}</string>
		</dict>
		<key>npc_41_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,143},{91,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,142}}</string>
			<key>sourceSize</key>
			<string>{91,142}</string>
		</dict>
		<key>npc_41_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{92,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,142}}</string>
			<key>sourceSize</key>
			<string>{92,142}</string>
		</dict>
		<key>npc_41_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,286},{87,142}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{87,142}}</string>
			<key>sourceSize</key>
			<string>{87,142}</string>
		</dict>
		<key>npc_41_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,0},{87,140}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{87,140}}</string>
			<key>sourceSize</key>
			<string>{87,140}</string>
		</dict>
		<key>npc_41_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,286},{87,138}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{87,138}}</string>
			<key>sourceSize</key>
			<string>{87,138}</string>
		</dict>
		<key>npc_41_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,429},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_41_stand.png</string>
		<key>size</key>
		<string>{265,429}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8ca49066e211e347829060b29bbee326$</string>
		<key>textureFileName</key>
		<string>npc_41_stand.png</string>
	</dict>
</dict>
</plist>
