<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_36_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,0},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,268},{74,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{74,133}}</string>
			<key>sourceSize</key>
			<string>{74,133}</string>
		</dict>
		<key>npc_36_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,134},{74,133}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{74,133}}</string>
			<key>sourceSize</key>
			<string>{74,133}</string>
		</dict>
		<key>npc_36_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,134},{72,133}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{72,133}}</string>
			<key>sourceSize</key>
			<string>{72,133}</string>
		</dict>
		<key>npc_36_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,0},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,0},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,0},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,268},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,134},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_190.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,0},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_191.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,268},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_192.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,134},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_193.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{76,133}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,133}}</string>
			<key>sourceSize</key>
			<string>{76,133}</string>
		</dict>
		<key>npc_36_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,402},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_36_stand.png</string>
		<key>size</key>
		<string>{461,402}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a67984f48267994c4a7dccdabcd0e0ef$</string>
		<key>textureFileName</key>
		<string>npc_36_stand.png</string>
	</dict>
</dict>
</plist>
