<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_10_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,107},{61,106}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{61,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>npc_10_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,0},{61,106}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{61,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>npc_10_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,107},{61,106}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{61,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>npc_10_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{61,106}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{61,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>npc_10_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,0},{59,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{59,104}}</string>
			<key>sourceSize</key>
			<string>{59,104}</string>
		</dict>
		<key>npc_10_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,0},{59,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{59,104}}</string>
			<key>sourceSize</key>
			<string>{59,104}</string>
		</dict>
		<key>npc_10_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{61,106}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{61,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>npc_10_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,214},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_10_stand.png</string>
		<key>size</key>
		<string>{243,214}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:20d24be96893f1d97adc677f62d0a28f$</string>
		<key>textureFileName</key>
		<string>npc_10_stand.png</string>
	</dict>
</dict>
</plist>
