<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_18_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,127},{81,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,126}}</string>
			<key>sourceSize</key>
			<string>{81,126}</string>
		</dict>
		<key>npc_18_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,0},{81,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,126}}</string>
			<key>sourceSize</key>
			<string>{81,126}</string>
		</dict>
		<key>npc_18_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{82,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,126}}</string>
			<key>sourceSize</key>
			<string>{82,126}</string>
		</dict>
		<key>npc_18_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,0},{82,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,125}}</string>
			<key>sourceSize</key>
			<string>{82,125}</string>
		</dict>
		<key>npc_18_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,127},{81,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,126}}</string>
			<key>sourceSize</key>
			<string>{81,126}</string>
		</dict>
		<key>npc_18_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,127},{81,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,126}}</string>
			<key>sourceSize</key>
			<string>{81,126}</string>
		</dict>
		<key>npc_18_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,254},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_18_stand.png</string>
		<key>size</key>
		<string>{247,254}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ba6358bfbc13c2d1e3b322644bbcf9cd$</string>
		<key>textureFileName</key>
		<string>npc_18_stand.png</string>
	</dict>
</dict>
</plist>
