<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_39_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{49,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,128}}</string>
			<key>sourceSize</key>
			<string>{49,128}</string>
		</dict>
		<key>npc_39_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_39_stand.png</string>
		<key>size</key>
		<string>{450,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:22f41e004f980dc198ba8cdef285dff9$</string>
		<key>textureFileName</key>
		<string>npc_39_stand.png</string>
	</dict>
</dict>
</plist>
