<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_38_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,0},{51,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,119}}</string>
			<key>sourceSize</key>
			<string>{51,119}</string>
		</dict>
		<key>npc_38_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,120},{51,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,119}}</string>
			<key>sourceSize</key>
			<string>{51,119}</string>
		</dict>
		<key>npc_38_stand_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,240},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>npc_38_stand_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,240},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>npc_38_stand_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,240},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>npc_38_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,0},{51,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,119}}</string>
			<key>sourceSize</key>
			<string>{51,119}</string>
		</dict>
		<key>npc_38_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,120},{51,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,119}}</string>
			<key>sourceSize</key>
			<string>{51,119}</string>
		</dict>
		<key>npc_38_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{51,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,119}}</string>
			<key>sourceSize</key>
			<string>{51,119}</string>
		</dict>
		<key>npc_38_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,254},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_38_stand.png</string>
		<key>size</key>
		<string>{155,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:235eef479de1a88186744f662cdf7ea2$</string>
		<key>textureFileName</key>
		<string>npc_38_stand.png</string>
	</dict>
</dict>
</plist>
