<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_14_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,135},{83,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{83,136}}</string>
			<key>sourceSize</key>
			<string>{83,136}</string>
		</dict>
		<key>npc_14_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,272},{73,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{73,136}}</string>
			<key>sourceSize</key>
			<string>{73,136}</string>
		</dict>
		<key>npc_14_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,272},{73,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{73,136}}</string>
			<key>sourceSize</key>
			<string>{73,136}</string>
		</dict>
		<key>npc_14_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,274},{83,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{83,136}}</string>
			<key>sourceSize</key>
			<string>{83,136}</string>
		</dict>
		<key>npc_14_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,0},{87,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{87,134}}</string>
			<key>sourceSize</key>
			<string>{87,134}</string>
		</dict>
		<key>npc_14_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,137},{83,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{83,136}}</string>
			<key>sourceSize</key>
			<string>{83,136}</string>
		</dict>
		<key>npc_14_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{83,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{83,136}}</string>
			<key>sourceSize</key>
			<string>{83,136}</string>
		</dict>
		<key>npc_14_stand_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,0},{73,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{73,136}}</string>
			<key>sourceSize</key>
			<string>{73,136}</string>
		</dict>
		<key>npc_14_stand_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,0},{73,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{73,136}}</string>
			<key>sourceSize</key>
			<string>{73,136}</string>
		</dict>
		<key>npc_14_stand_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,272},{73,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{73,136}}</string>
			<key>sourceSize</key>
			<string>{73,136}</string>
		</dict>
		<key>npc_14_stand_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,135},{73,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{73,136}}</string>
			<key>sourceSize</key>
			<string>{73,136}</string>
		</dict>
		<key>npc_14_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,411},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_14_stand.png</string>
		<key>size</key>
		<string>{453,411}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:24a653b46c27e63a03f29417b737c69c$</string>
		<key>textureFileName</key>
		<string>npc_14_stand.png</string>
	</dict>
</dict>
</plist>
