<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_16_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,119},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,0},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,119},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,0},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,119},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,0},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,119},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{36,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,118}}</string>
			<key>sourceSize</key>
			<string>{36,118}</string>
		</dict>
		<key>npc_16_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,238},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_16_stand.png</string>
		<key>size</key>
		<string>{147,238}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d029a83349dbe13fcb24865f4bc1d668$</string>
		<key>textureFileName</key>
		<string>npc_16_stand.png</string>
	</dict>
</dict>
</plist>
