<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_22_stand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{61,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,113}}</string>
			<key>sourceSize</key>
			<string>{61,113}</string>
		</dict>
		<key>npc_22_stand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,119},{61,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,113}}</string>
			<key>sourceSize</key>
			<string>{61,113}</string>
		</dict>
		<key>npc_22_stand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,114},{60,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,113}}</string>
			<key>sourceSize</key>
			<string>{60,113}</string>
		</dict>
		<key>npc_22_stand_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{63,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,118}}</string>
			<key>sourceSize</key>
			<string>{63,118}</string>
		</dict>
		<key>npc_22_stand_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,119},{61,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,113}}</string>
			<key>sourceSize</key>
			<string>{61,113}</string>
		</dict>
		<key>npc_22_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,233},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_22_stand.png</string>
		<key>size</key>
		<string>{184,233}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:36b9fc529476ea78190b9f6638c6d322$</string>
		<key>textureFileName</key>
		<string>npc_22_stand.png</string>
	</dict>
</dict>
</plist>
