<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_11_stand_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,363},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,242},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,121},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,121},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,121},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,121},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,121},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,363},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,242},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_191.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,121},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_192.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,0},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_193.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,0},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_194.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,0},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_195.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,0},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_196.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,0},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_197.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{41,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,120}}</string>
			<key>sourceSize</key>
			<string>{41,120}</string>
		</dict>
		<key>npc_11_stand_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>npc_11_stand.png</string>
		<key>size</key>
		<string>{252,483}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c1680631889e03e43682e25ad851849b$</string>
		<key>textureFileName</key>
		<string>npc_11_stand.png</string>
	</dict>
</dict>
</plist>
