<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_48_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>npc_48_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{54,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>npc_48_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{55,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>npc_48_stand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>npc_48_stand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{55,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{57,74}</string>
            </dict>
            <key>npc_48_stand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,81},{56,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>npc_48_stand_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,81},{56,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>npc_48_stand_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,81},{55,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{57,77}</string>
            </dict>
            <key>npc_48_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{42,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,139}}</string>
                <key>sourceSize</key>
                <string>{44,141}</string>
            </dict>
            <key>npc_48_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,160},{42,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,139}}</string>
                <key>sourceSize</key>
                <string>{44,141}</string>
            </dict>
            <key>npc_48_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,160},{42,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,139}}</string>
                <key>sourceSize</key>
                <string>{44,141}</string>
            </dict>
            <key>npc_48_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,160},{42,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,139}}</string>
                <key>sourceSize</key>
                <string>{44,141}</string>
            </dict>
            <key>npc_48_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,160},{42,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,139}}</string>
                <key>sourceSize</key>
                <string>{44,141}</string>
            </dict>
            <key>npc_48_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{57,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,139}}</string>
                <key>sourceSize</key>
                <string>{59,141}</string>
            </dict>
            <key>npc_48_stand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,301},{45,139}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{45,139}}</string>
                <key>sourceSize</key>
                <string>{59,141}</string>
            </dict>
            <key>npc_48_stand_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,301},{45,139}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{45,139}}</string>
                <key>sourceSize</key>
                <string>{59,141}</string>
            </dict>
            <key>npc_48_stand_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,301},{45,139}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{45,139}}</string>
                <key>sourceSize</key>
                <string>{59,141}</string>
            </dict>
            <key>npc_48_stand_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,301},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>npc_48_stand_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,301},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>npc_48_stand_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>npc_48_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,442},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_48_stand.png</string>
            <key>size</key>
            <string>{250,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60017562dee91e173c480790cfda322e$</string>
            <key>textureFileName</key>
            <string>npc_48_stand.png</string>
        </dict>
    </dict>
</plist>
