<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBigMc9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishBigMc9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{290,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{290,89}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{276,91}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{276,91}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{264,93}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{264,93}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,186},{236,93}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{236,93}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{218,91}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,3},{218,91}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,281},{236,93}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{236,93}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{264,93}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{264,93}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
            <key>fishBigMc9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{276,91}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{276,91}}</string>
                <key>sourceSize</key>
                <string>{302,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBigMc9.png</string>
            <key>size</key>
            <string>{506,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d15c7a5870f5cc92109161c24d43dd99$</string>
            <key>textureFileName</key>
            <string>fishBigMc9.png</string>
        </dict>
    </dict>
</plist>
