<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{114,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{114,63}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{112,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{112,65}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{106,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,69}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{102,71}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{102,71}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{106,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,69}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{112,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{112,65}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{114,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{114,63}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>fishSmallMc8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{112,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{112,61}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc8.png</string>
            <key>size</key>
            <string>{120,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89212523fcb392efe13fb602c1dafaf8$</string>
            <key>textureFileName</key>
            <string>fishSmallMc8.png</string>
        </dict>
    </dict>
</plist>
