<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{89,59}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{89,59}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>fishSmallMc4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{79,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{79,61}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>fishSmallMc4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{71,60}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{111,74}</string>
            </dict>
            <key>fishSmallMc4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{81,51}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>fishSmallMc4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,65},{87,45}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{87,45}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>fishSmallMc4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{87,39}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{87,39}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>fishSmallMc4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,118},{91,39}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{91,39}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>fishSmallMc4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{93,41}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{93,41}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc4.png</string>
            <key>size</key>
            <string>{249,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5254ad06e92f07337e50b83122144ceb$</string>
            <key>textureFileName</key>
            <string>fishSmallMc4.png</string>
        </dict>
    </dict>
</plist>
