<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{65,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,43}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>fishSmallMc3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{65,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>fishSmallMc3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{65,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,41}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>fishSmallMc3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{65,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,41}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>fishSmallMc3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,47},{65,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>fishSmallMc3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,47},{65,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc3.png</string>
            <key>size</key>
            <string>{205,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eeaf855fcd7f24a080ff88e64bfcb51$</string>
            <key>textureFileName</key>
            <string>fishSmallMc3.png</string>
        </dict>
    </dict>
</plist>
