<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBigMc6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishBigMc6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{79,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{79,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{77,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{77,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{77,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{77,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,59},{79,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{79,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,59},{77,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{75,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{75,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>fishBigMc6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,116},{77,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,55}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBigMc6.png</string>
            <key>size</key>
            <string>{243,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eed4342c056a6fd98f56f5c6013f636b$</string>
            <key>textureFileName</key>
            <string>fishBigMc6.png</string>
        </dict>
    </dict>
</plist>
