<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{219,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{219,72}}</string>
                <key>sourceSize</key>
                <string>{221,80}</string>
            </dict>
            <key>fishSmallMc10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{205,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{205,64}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>fishSmallMc10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{193,60}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{193,60}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>fishSmallMc10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{183,56}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{183,56}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>fishSmallMc10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{175,60}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{175,60}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>fishSmallMc10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{183,56}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{183,56}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>fishSmallMc10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{193,60}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{193,60}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>fishSmallMc10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{205,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{205,64}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc10.png</string>
            <key>size</key>
            <string>{225,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c49645d0d2413fa414df5d3187cfc307$</string>
            <key>textureFileName</key>
            <string>fishSmallMc10.png</string>
        </dict>
    </dict>
</plist>
