<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{130,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{130,32}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{126,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{126,28}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,36},{124,26}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{124,26}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{120,26}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{120,26}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,66},{128,34}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{128,34}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{126,36}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{126,36}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,102},{124,32}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{124,32}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>fishSmallMc7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{126,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{126,28}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc7.png</string>
            <key>size</key>
            <string>{256,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065078e251bbdb1eb3b72a30a39ec9dd$</string>
            <key>textureFileName</key>
            <string>fishSmallMc7.png</string>
        </dict>
    </dict>
</plist>
