<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{49,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{49,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{49,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{49,26}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{49,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{49,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,32},{49,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{49,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{49,26}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>fishSmallMc2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,32},{49,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc2.png</string>
            <key>size</key>
            <string>{106,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd1f467e5c73fbed03976fdf5978fa7$</string>
            <key>textureFileName</key>
            <string>fishSmallMc2.png</string>
        </dict>
    </dict>
</plist>
