<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{174,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,54}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>fishSmallMc9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,62},{166,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,56}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>fishSmallMc9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{160,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{160,56}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>fishSmallMc9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{142,58}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>fishSmallMc9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{132,56}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>fishSmallMc9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{142,58}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>fishSmallMc9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{160,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{160,56}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>fishSmallMc9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,62},{166,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,56}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc9.png</string>
            <key>size</key>
            <string>{486,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc4b7434888eb288db8c773dbfd7a65$</string>
            <key>textureFileName</key>
            <string>fishSmallMc9.png</string>
        </dict>
    </dict>
</plist>
