<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBigMc10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishBigMc10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{398,130}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{398,130}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{370,116}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{370,116}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{350,108}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{350,108}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{332,100}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{332,100}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{316,108}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{316,108}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{332,100}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{332,100}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{350,110}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{350,110}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>fishBigMc10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{370,116}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{370,116}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBigMc10.png</string>
            <key>size</key>
            <string>{404,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c298ef3a1e529944822705ed24579469$</string>
            <key>textureFileName</key>
            <string>fishBigMc10.png</string>
        </dict>
    </dict>
</plist>
