<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBigMc4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishBigMc4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{128,84}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{128,84}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>fishBigMc4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{112,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{112,88}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>fishBigMc4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{100,86}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{158,106}</string>
            </dict>
            <key>fishBigMc4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,92},{114,72}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{114,72}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>fishBigMc4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{124,64}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{124,64}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>fishBigMc4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,180},{122,56}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{122,56}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>fishBigMc4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{130,54}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{130,54}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>fishBigMc4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{130,58}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{130,58}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBigMc4.png</string>
            <key>size</key>
            <string>{252,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd0eb55c1d61b00bfc940ed6ac008024$</string>
            <key>textureFileName</key>
            <string>fishBigMc4.png</string>
        </dict>
    </dict>
</plist>
