<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBigMc8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishBigMc8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{162,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{162,88}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{160,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{160,92}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{150,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{150,96}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{146,102}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{146,102}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{150,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{150,96}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{160,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{160,92}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,106},{162,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{162,88}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>fishBigMc8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,106},{158,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{158,86}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBigMc8.png</string>
            <key>size</key>
            <string>{488,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2210619a6a3dd41c288072a16b4b6a9$</string>
            <key>textureFileName</key>
            <string>fishBigMc8.png</string>
        </dict>
    </dict>
</plist>
