<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishSmallMc5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishSmallMc5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,42},{56,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{56,38}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>fishSmallMc5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{52,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>fishSmallMc5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{50,38}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{50,38}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>fishSmallMc5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{52,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>fishSmallMc5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,42},{56,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{56,38}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>fishSmallMc5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{54,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{54,40}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishSmallMc5.png</string>
            <key>size</key>
            <string>{114,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef251fc502fdb8596e39ac4ce26b3c26$</string>
            <key>textureFileName</key>
            <string>fishSmallMc5.png</string>
        </dict>
    </dict>
</plist>
