<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBigMc5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fishBigMc5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{79,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{79,55}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>fishBigMc5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{75,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{75,55}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>fishBigMc5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{69,53}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{69,53}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>fishBigMc5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{75,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{75,55}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>fishBigMc5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{79,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{79,55}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>fishBigMc5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,59},{75,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{75,55}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBigMc5.png</string>
            <key>size</key>
            <string>{233,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65043a97baaf556a701f4212da8f2e34$</string>
            <key>textureFileName</key>
            <string>fishBigMc5.png</string>
        </dict>
    </dict>
</plist>
