<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroupFish200002_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>GroupFish200002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{241,92}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
            <key>GroupFish200002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{243,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{243,92}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
            <key>GroupFish200002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{243,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{243,92}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
            <key>GroupFish200002_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,96},{243,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{243,92}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
            <key>GroupFish200002_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{245,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{245,92}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
            <key>GroupFish200002_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,190},{245,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{245,94}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GroupFish200002.png</string>
            <key>size</key>
            <string>{496,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e222a89b1933bd974603a694937552$</string>
            <key>textureFileName</key>
            <string>GroupFish200002.png</string>
        </dict>
    </dict>
</plist>
