<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroupFish200003_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>GroupFish200003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{131,85}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{131,85}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>GroupFish200003_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{131,85}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{131,85}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>GroupFish200003_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{131,85}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{131,85}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>GroupFish200003_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{131,85}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{131,85}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>GroupFish200003_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,89},{131,85}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{131,85}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>GroupFish200003_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,89},{131,85}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{131,85}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GroupFish200003.png</string>
            <key>size</key>
            <string>{403,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:487fc51711e26aa82ab3f68fb41dce51$</string>
            <key>textureFileName</key>
            <string>GroupFish200003.png</string>
        </dict>
    </dict>
</plist>
