<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroupFish200001_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>GroupFish200001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{140,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{140,98}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>GroupFish200001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{140,98}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>GroupFish200001_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{140,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{140,98}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>GroupFish200001_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{140,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{140,98}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>GroupFish200001_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,102},{140,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{140,98}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>GroupFish200001_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,102},{140,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{140,98}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GroupFish200001.png</string>
            <key>size</key>
            <string>{430,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c5673e35009ccbdd11dafd3228a7f3a$</string>
            <key>textureFileName</key>
            <string>GroupFish200001.png</string>
        </dict>
    </dict>
</plist>
