<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,18},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>16_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{61,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{61,17}</string>
            </dict>
            <key>16_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{56,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{56,90}</string>
            </dict>
            <key>16_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>16_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,91},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>16_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,18},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>16_stand.png</string>
            <key>size</key>
            <string>{118,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a622bbb49d4fe5d3c2c977e3443aaefd$</string>
            <key>textureFileName</key>
            <string>16_stand.png</string>
        </dict>
    </dict>
</plist>
