<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>17_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,14}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{94,14}}</string>
                <key>sourceSize</key>
                <string>{94,14}</string>
            </dict>
            <key>17_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,68},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>17_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>17_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,15},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>17_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,15},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>17_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,15},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>17_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>17_stand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,68},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>17_stand.png</string>
            <key>size</key>
            <string>{118,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640102a0a6a51c9d9be4b80f0f1bf77c$</string>
            <key>textureFileName</key>
            <string>17_stand.png</string>
        </dict>
    </dict>
</plist>
