<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,67},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>19_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{72,14}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{72,14}}</string>
                <key>sourceSize</key>
                <string>{72,14}</string>
            </dict>
            <key>19_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,66}}</string>
                <key>sourceSize</key>
                <string>{122,66}</string>
            </dict>
            <key>19_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>19_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,69},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
            <key>19_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,140},{110,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{110,67}</string>
            </dict>
            <key>19_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,208},{110,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,66}}</string>
                <key>sourceSize</key>
                <string>{110,66}</string>
            </dict>
            <key>19_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{110,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,66}}</string>
                <key>sourceSize</key>
                <string>{110,66}</string>
            </dict>
            <key>19_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>19_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{116,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,69}}</string>
                <key>sourceSize</key>
                <string>{116,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>19_run.png</string>
            <key>size</key>
            <string>{243,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffa7219a4f4e890030118d1e483f18d6$</string>
            <key>textureFileName</key>
            <string>19_run.png</string>
        </dict>
    </dict>
</plist>
