<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,20},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>19_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{121,19}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{121,19}}</string>
                <key>sourceSize</key>
                <string>{121,19}</string>
            </dict>
            <key>19_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,66},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>19_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>19_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>19_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{107,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,64}}</string>
                <key>sourceSize</key>
                <string>{107,64}</string>
            </dict>
            <key>19_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>19_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>19_stand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,66},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>19_stand.png</string>
            <key>size</key>
            <string>{229,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eba5765df141acd82b999bb6349a407$</string>
            <key>textureFileName</key>
            <string>19_stand.png</string>
        </dict>
    </dict>
</plist>
