<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>21_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,165},{61,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{61,17}</string>
            </dict>
            <key>21_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,51},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>21_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,50}}</string>
                <key>sourceSize</key>
                <string>{102,50}</string>
            </dict>
            <key>21_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,50}</string>
            </dict>
            <key>21_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,197},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>21_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,102},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>21_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,51},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>21_stand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,114},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>21_stand_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,51},{79,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,50}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>21_stand_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,197},{89,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>21_stand_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>21_stand.png</string>
            <key>size</key>
            <string>{248,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bc2d7552c235d02f5f7704c20961e83$</string>
            <key>textureFileName</key>
            <string>21_stand.png</string>
        </dict>
    </dict>
</plist>
