<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>22_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,215},{86,19}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
            <key>22_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,48},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,46}</string>
            </dict>
            <key>22_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
            <key>22_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,95},{93,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,55}</string>
            </dict>
            <key>22_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,52}}</string>
                <key>sourceSize</key>
                <string>{95,52}</string>
            </dict>
            <key>22_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>22_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,162},{91,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
            <key>22_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>22_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,53},{94,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>22_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>22_run.png</string>
            <key>size</key>
            <string>{192,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfdb4c34eb69583b98cacb314b40b71e$</string>
            <key>textureFileName</key>
            <string>22_run.png</string>
        </dict>
    </dict>
</plist>
