<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>24_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,48}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>24_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{130,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,92}}</string>
                <key>sourceSize</key>
                <string>{130,92}</string>
            </dict>
            <key>24_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,49},{135,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,91}}</string>
                <key>sourceSize</key>
                <string>{135,91}</string>
            </dict>
            <key>24_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{133,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,92}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>24_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{129,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,91}}</string>
                <key>sourceSize</key>
                <string>{129,91}</string>
            </dict>
            <key>24_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,141},{121,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,93}}</string>
                <key>sourceSize</key>
                <string>{121,93}</string>
            </dict>
            <key>24_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,328},{125,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,98}}</string>
                <key>sourceSize</key>
                <string>{125,98}</string>
            </dict>
            <key>24_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,235},{124,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,92}</string>
            </dict>
            <key>24_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{131,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,92}}</string>
                <key>sourceSize</key>
                <string>{131,92}</string>
            </dict>
            <key>24_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>24_run.png</string>
            <key>size</key>
            <string>{256,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87f736724419fd5590398a777abda07$</string>
            <key>textureFileName</key>
            <string>24_run.png</string>
        </dict>
    </dict>
</plist>
