<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,34},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>27_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,33}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{118,33}}</string>
                <key>sourceSize</key>
                <string>{118,33}</string>
            </dict>
            <key>27_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>27_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,101},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{109,93}</string>
            </dict>
            <key>27_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,96}}</string>
                <key>sourceSize</key>
                <string>{106,96}</string>
            </dict>
            <key>27_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>27_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{111,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{111,100}</string>
            </dict>
            <key>27_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,195},{108,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,92}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
            <key>27_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,288},{106,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,91}}</string>
                <key>sourceSize</key>
                <string>{106,91}</string>
            </dict>
            <key>27_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,101},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{109,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>27_run.png</string>
            <key>size</key>
            <string>{230,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0941406adec6d62d6d534482fa88beed$</string>
            <key>textureFileName</key>
            <string>27_run.png</string>
        </dict>
    </dict>
</plist>
