<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,34},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>27_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,33}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{118,33}}</string>
                <key>sourceSize</key>
                <string>{118,33}</string>
            </dict>
            <key>27_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>27_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,96},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>27_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{116,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,95}}</string>
                <key>sourceSize</key>
                <string>{116,95}</string>
            </dict>
            <key>27_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>27_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{116,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,95}}</string>
                <key>sourceSize</key>
                <string>{116,95}</string>
            </dict>
            <key>27_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,96},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>27_stand.png</string>
            <key>size</key>
            <string>{235,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a173e8c7496aba893ae0ae3b7b17bd82$</string>
            <key>textureFileName</key>
            <string>27_stand.png</string>
        </dict>
    </dict>
</plist>
