<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{61,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{61,17}</string>
            </dict>
            <key>28_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{104,84}</string>
            </dict>
            <key>28_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,114},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>28_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,77}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>28_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{136,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,87}}</string>
                <key>sourceSize</key>
                <string>{136,87}</string>
            </dict>
            <key>28_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>28_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,218},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>28_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>28_run.png</string>
            <key>size</key>
            <string>{251,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302fae5ab9a12102d547c8de0c613760$</string>
            <key>textureFileName</key>
            <string>28_run.png</string>
        </dict>
    </dict>
</plist>
