<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,23},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>30_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{73,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{73,22}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>30_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,99}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>30_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{69,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>30_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{67,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,99}}</string>
                <key>sourceSize</key>
                <string>{67,99}</string>
            </dict>
            <key>30_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,101},{66,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,100}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>30_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,127},{64,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,101}}</string>
                <key>sourceSize</key>
                <string>{64,101}</string>
            </dict>
            <key>30_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{62,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{62,103}</string>
            </dict>
            <key>30_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,202},{60,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,104}}</string>
                <key>sourceSize</key>
                <string>{60,104}</string>
            </dict>
            <key>30_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,23},{67,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,103}}</string>
                <key>sourceSize</key>
                <string>{67,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30_run.png</string>
            <key>size</key>
            <string>{218,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1280152139dc07fe05be08e8dcf530e2$</string>
            <key>textureFileName</key>
            <string>30_run.png</string>
        </dict>
    </dict>
</plist>
