<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>30_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>30_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,0},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>30_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>30_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{64,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,99}}</string>
                <key>sourceSize</key>
                <string>{64,99}</string>
            </dict>
            <key>30_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30_stand.png</string>
            <key>size</key>
            <string>{233,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cd5049faadbfda6a3fd9916749f3e81$</string>
            <key>textureFileName</key>
            <string>30_stand.png</string>
        </dict>
    </dict>
</plist>
