<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>31_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{61,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{73,21}</string>
            </dict>
            <key>31_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{74,68}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>31_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>31_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{75,76}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{75,76}}</string>
                <key>sourceSize</key>
                <string>{77,84}</string>
            </dict>
            <key>31_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,82},{64,74}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{64,74}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>31_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,82},{62,75}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{62,75}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>31_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{66,71}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{66,71}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>31_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,160},{68,60}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{68,60}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>31_run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,160},{68,64}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{68,64}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>31_run.png</string>
            <key>size</key>
            <string>{221,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6085f3985bbefab7e87832af2c40dab2$</string>
            <key>textureFileName</key>
            <string>31_run.png</string>
        </dict>
    </dict>
</plist>
