<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>31_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{61,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{73,21}</string>
            </dict>
            <key>31_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,88},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,88}</string>
            </dict>
            <key>31_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{54,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,84}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>31_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{54,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,84}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>31_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,84}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>31_stand.png</string>
            <key>size</key>
            <string>{116,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987ff06b46f8a25fc99a879c8b73cb36$</string>
            <key>textureFileName</key>
            <string>31_stand.png</string>
        </dict>
    </dict>
</plist>
