<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>33_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>33_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>33_run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>33_run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,124},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>33_run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,47},{107,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,48}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>33_run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,47},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>33_run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>33_run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>33_run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,124},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>33_run.png</string>
            <key>size</key>
            <string>{255,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9948cd50b292fb6b405403ce929f8081$</string>
            <key>textureFileName</key>
            <string>33_run.png</string>
        </dict>
    </dict>
</plist>
