<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>34_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{62,91}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{66,93}</string>
            </dict>
            <key>34_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{67,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,92}}</string>
                <key>sourceSize</key>
                <string>{67,94}</string>
            </dict>
            <key>34_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{71,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,93}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>34_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{80,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>34_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,97},{91,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>34_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{81,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>34_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,191},{71,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,92}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>34_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,191},{68,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>34_run.png</string>
            <key>size</key>
            <string>{228,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52decebe95dd54c5e6d3616863379d6$</string>
            <key>textureFileName</key>
            <string>34_run.png</string>
        </dict>
    </dict>
</plist>
