<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>35_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>35_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{84,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>35_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{85,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>35_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{85,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,112}</string>
            </dict>
            <key>35_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,115},{85,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,112}</string>
            </dict>
            <key>35_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{85,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>35_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,227},{85,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>35_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{85,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,112}</string>
            </dict>
            <key>35_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,340},{85,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>35_run.png</string>
            <key>size</key>
            <string>{177,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:777efd0a4ed103b7dd805c4297a55909$</string>
            <key>textureFileName</key>
            <string>35_run.png</string>
        </dict>
    </dict>
</plist>
