<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>35_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>35_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{86,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,112}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
            <key>35_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
            <key>35_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{88,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>35_stand.png</string>
            <key>size</key>
            <string>{182,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e095a97a252a1f98097e45fbe65ed268$</string>
            <key>textureFileName</key>
            <string>35_stand.png</string>
        </dict>
    </dict>
</plist>
