<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>36_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>36_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{75,95}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>36_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{75,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>36_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{77,97}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>sourceSize</key>
                <string>{85,101}</string>
            </dict>
            <key>36_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{77,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,96}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>36_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,101},{78,95}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>36_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,101},{77,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,96}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>36_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{77,97}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>sourceSize</key>
                <string>{85,101}</string>
            </dict>
            <key>36_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,199},{77,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,96}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>36_run.png</string>
            <key>size</key>
            <string>{240,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:400b8ab900bbf9f195f0d38e505a0c3d$</string>
            <key>textureFileName</key>
            <string>36_run.png</string>
        </dict>
    </dict>
</plist>
