<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>36_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>36_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{82,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>36_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{82,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>36_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{83,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>36_stand.png</string>
            <key>size</key>
            <string>{172,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22b44a011cad72c24260cabf0dd8d8a$</string>
            <key>textureFileName</key>
            <string>36_stand.png</string>
        </dict>
    </dict>
</plist>
