<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>38_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>38_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>38_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>38_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>38_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,83},{61,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,76}</string>
            </dict>
            <key>38_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,83},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>38_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,83},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>38_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>38_run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,165},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>38_run.png</string>
            <key>size</key>
            <string>{230,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f01bd57c6f7bfd58f42de8049d8ae6a$</string>
            <key>textureFileName</key>
            <string>38_run.png</string>
        </dict>
    </dict>
</plist>
