<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>38_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>38_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,79},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>38_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>38_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>38_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>38_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,79},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>38_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,79},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>38_stand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,79},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>38_stand_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,79},{12,10}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{12,10}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>38_stand.png</string>
            <key>size</key>
            <string>{248,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a97b91f6e1d28863d1403827109beab$</string>
            <key>textureFileName</key>
            <string>38_stand.png</string>
        </dict>
    </dict>
</plist>
