<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>39_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,136}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{226,136}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{228,134}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{228,134}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{230,132}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{230,132}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,140},{234,134}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{234,134}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{226,136}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{226,136}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,276},{228,134}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{228,134}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{230,134}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{230,134}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,414},{234,134}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{234,134}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>39_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,414},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>39_run.png</string>
            <key>size</key>
            <string>{472,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161861357e07463300e874f21247a8f6$</string>
            <key>textureFileName</key>
            <string>39_run.png</string>
        </dict>
    </dict>
</plist>
