<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>46_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,128}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{202,128}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{198,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{198,130}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{200,128}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{200,128}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,134},{202,128}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{202,128}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{202,128}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{202,128}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,264},{198,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{198,130}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{200,128}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{200,128}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,396},{202,128}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{202,128}}</string>
                <key>sourceSize</key>
                <string>{240,138}</string>
            </dict>
            <key>46_run_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,396},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>46_run.png</string>
            <key>size</key>
            <string>{410,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c259e37bbe5f9ddfb17fdefb93e0015d$</string>
            <key>textureFileName</key>
            <string>46_run.png</string>
        </dict>
    </dict>
</plist>
